<div class="menu">
    <div class="bars"></div>
</div>
<nav>
    <h2><a href="#">Logo</a></h2>
    <div class="close">
        <div></div>
    </div>
    <ul class="nav-menu">
        <li><a href="#">LOGIN</a></li>
        <li><a href="#">JOIN</a></li>
        <li><a href="#">QQQQQQQQ</a></li>
        <li><a href="#">AAAAAAAAAA</a></li>
        <li><a href="#">CCCCCCCCC</a></li>
    </ul>
    <!-- <ul>
        <li><a href="#">Login</a></li>
        <li><a href="#">Join</a></li>
    </ul> -->
</nav>
