<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="header" class="header includeJs">
<div  class="menu">
    <div class="bars"></div>
</div>
<nav>
    <h2><a href="#">Logo</a></h2>
    <div class="close">
        <div></div>
    </div>
    <ul class="nav-menu logout">
        <li><a href="/member/user_login">LOGIN</a></li>
        <li><a href="/board/notice">JOIN</a></li>
    </ul>
    <ul class="nav-menu login">
        <li><a href="/board/notice/write">ALBUM</a></li>
        <li><a href="/board/qna">TIME CAPSULE</a></li>
        <li><a href="#">MINI GAME</a></li>
        <li><a href="#">QUIZ</a></li>
        <li><a href="#">BOARD</a></li>
    </ul>
    <!-- <ul>
        <li><a href="#">Login</a></li>
        <li><a href="#">Join</a></li>
    </ul> -->
</nav>

</header>
</body>
</html>