<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="html/include/head :: headerLayout"></th:block>


<body>
<header th:include="~{/html/include/header :: header}" class="header includeJs"></header>

	<div class="container">
		<form method="post" action="/member/find-password">
		<section class="section reset">
			<p class="section-tit">비밀번호 재설정</p>
			<label class="input-label">이메일</label>
			<div class="input-wrap">
				<input type="text" class="input-text" name="email" placeholder="email@example.com" />
			</div>

			<div class="btn-wrap mg-t--40">
				<button type="submit" class="btn btn-full btn-pink">
					초기화 비밀번호 전송
				</button>
			</div>
		</section>
		</form>
	</div>

<script th:inline="javascript">
	var isReset = [[${isReset}]];

	console.log("isReset: ", isReset);
	if(isReset!=null){
		if(isReset.passwordReset){
			alert("초기화 비밀번호를 전송했습니다.");
		} else{
			alert("해당 이메일이 존재하지 않습니다.");
		}
	}

</script>

<div th:replace="~{/html/include/footer :: footer}"></div>
</body>

</html>