<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="html/include/head :: headerLayout"></th:block>


<body>
<header th:include="~{/html/include/header :: header}" class="header includeJs"></header>

	<div class="container">
		<section class="section reset">
			<p class="section-tit">이메일 찾기</p>
			<label class="input-label">이메일 확인</label>
			<div class="input-wrap">
				<input type="text" class="input-text" value="example@email.com" />
			</div>

			<div class="btn-wrap mg-t--40">
				<button type="button" class="btn btn-full btn-pink">
					이메일 찾기
				</button>
			</div>
		</section>
	</div>

<div th:replace="~{/html/include/footer :: footer}"></div>
</body>

</html>