<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="html/include/head :: headerLayout"></th:block>



<body>
<header th:include="~{/html/include/header :: header}" class="header includeJs"></header>

	<div class="container">
		<section class="section join">
			<p class="section-tit">기본 정보</p>
			<form method="post" action="joinProc" name="joinForm">

				<label class="input-label required">이메일</label>
				<div class="input-wrap">
					<input type="text" class="input-text" placeholder="‘@’ 포함 모두 입력해 주세요." name="email" />
				</div>

				<label class="input-label required">비밀번호</label>
				<div class="input-wrap">
					<input type="password" class="input-text" placeholder="영문+숫자+특수문자 조합으로 입력해 주세요." name="password" />
				</div>
				<label class="input-label required">비밀번호 재입력</label>
				<div class="input-wrap">
					<input type="password" class="input-text" placeholder="영문+숫자+특수문자 조합으로 입력해 주세요." />
				</div>
				<div class="input-guide error">
					비밀번호가 일치하지 않습니다.
				</div>

				<label class="input-label required">애칭</label>
				<div class="input-wrap">
					<input type="text" class="input-text" placeholder="혁진쨩♥" name="nickname" />
				</div>

				<label class="input-label required">생년월일</label>
				<div class="input-wrap">
					<input type="text" class="input-text" placeholder="1998-12-12" name="birth"
						oninput="localAutoHyphen(this)" maxlength="10" />
				</div>
				<label class="input-label required">성별</label>
				<div class="input-wrap mg-t--10">
					<div class="input-radio">
						<input type="radio" id="test1" name="radio-grou  checked>
						<label for="test1">남자</label>
					</div>
					<div class="input-radio">
						<input type="radio" id="test2" name="radio-group" checked>
						<label for="test2">여자</label>
					</div>
				</div>


				<div class="section-sub mg-t--40">
					약관동의
				</div>
				<div class="agree">
					<div class="agree-tit">
						<span class="txt-c--pink">[필수]</span>
						이용약관
					</div>
					<div class="agree-input">
						<label class="input-checkbox">
							<input type="checkbox" />
							<span class="check square"></span>
							<span class="text">개인정보 수집 및 이용에 대한 안내</span>
						</label>
					</div>
					<div class="scroll-box">
						<div class="scroll-box--tit">
							개인정보처리방침
						</div>
						<pre></pre>
					</div>

					<div class="agree-tit mg-t--40">
						<span class="txt-c--grey">[선택]</span> 이메일
						수신 동의
					</div>
					<div class="agree-input">
						<label class="input-checkbox">
							<input type="checkbox" name="marketingAgree" value="true"/>
							<span class="check square"></span>
							<span class="text">이메일 수신 동의</span>
						</label>
					</div>
				</div>
				<div class="btn-wrap type2 mg-t40">
					<button type="button" class="btn btn-half btn-line" onclick="location.href='login.html'">
						취소
					</button>
					<button type="submit" class="btn btn-half type2 btn-pink"
						onclick="location.href='join_complete.html'">
						가입하기
					</button>
				</div>
			</form>
		</section>
	</div>

<div th:replace="~{/html/include/footer :: footer}"></div>
	<script>
		const localAutoHyphen = (target) => {
			target.value = target.value
				.replace(/[^0-9]/g, '')
				.replace(/^(\d{2,4})(\d{1,2})(\d{1,2})$/, `$1-$2-$3`);
		}

		const phoneAutoHyphen = (target) => {
			target.value = target.value
				.replace(/[^0-9]/g, '')
				.replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3").replace(/(\-{1,2})$/g, "");
		}
	</script>
</body>

</html>