<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="html/include/head :: headerLayout"></th:block>



<body>
<header th:include="~{/html/include/header :: header}" class="header includeJs"></header>

	<div class="container">
		<section class="section join complete">
			<i class="fa-regular fa-circle-check"></i>
			<p class="tit">혁진쨩님, 환영해요</p>
			<p>이제 연인과 일상을 공유해봐요!</p>

			<div class="btn-wrap">
				<button type="button" class="btn btn-full btn-pink"
					onclick="location.href='certification_1.html'">
					일상 공유하기
				</button>
			</div>
		</section>
	</div>

<div th:replace="~{/html/include/footer :: footer}"></div>
</body>

</html>