<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="html/include/head :: headerLayout"></th:block>
<!--<head>-->


<body>
<header th:include="~{/html/include/header :: header}" class="header includeJs"></header>

	<div class="container">
		<section class="section secession">
			<i class="fa-regular fa-face-frown"></i>
			<p class="tit">
				회원 탈퇴를 하시겠어요?
			</p>
			<p>
				탈퇴 시 계정의 모든 정보는 삭제되며 재가입 시에도 복구되지 않습니다.
			</p>
			<form method="post" action="/member/secessionProc">
			<div class="btn-wrap">
				<button type="submit" class="btn btn-full btn-pink">
					탈퇴하기
				</button>
			</div>
			</form>
		</section>
	</div>
<div th:replace="~{/html/include/footer :: footer}"></div>
</body>

</html>