<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="html/include/head :: headerLayout"></th:block>

<body>
	<header th:include="~{/html/include/header :: header}" class="header includeJs"></header>

	<div class="container">
		<section class="section quiz">
			<p class="section-tit">QUIZ</p>
			<div class="quiz-complete">
				<ul class="quiz-list">
					<li class="" th:each="quiz : ${ quizList }">
						<a th:href="@{quiz/{id}(id = ${quiz.quizId})}">
							<span class="num">Q</span>
							<span th:text="${ quiz.getQuizTitle() }"></span>
						</a>
					</li>
				</ul>
			</div>
			<div class="btn-wrap mg-t--30">
				<form action="" method="post">
					<button type="submit" class="btn btn-full btn-pink">퀴즈 생성</button>
				</form>
			</div>
			<div class="pagination" th:if="${paginationDTO != null}">
				<!-- 이전 페이지 버튼 -->
				<button type="button" class="prev" th:attr="disabled=${paginationDTO.currentPage == 1}"
						th:onclick="|window.location.href='?page=${paginationDTO.currentPage - 1}&size=${paginationDTO.pageSize}'|">prev</button>

				<!-- 페이지 번호 버튼들 -->
				<span th:each="i : ${#numbers.sequence(1, (paginationDTO.totalItems / paginationDTO.pageSize) + 1)}">
                    <button type="button" th:classappend="${i == paginationDTO.currentPage} ? 'active'"
							th:text="${i}"
							th:onclick="|window.location.href='?page=${i}&size=${paginationDTO.pageSize}'|">1</button>
                </span>

				<!-- 다음 페이지 버튼 -->
				<button type="button" class="next" th:attr="disabled=${paginationDTO.currentPage == (paginationDTO.totalItems / paginationDTO.pageSize) + 1}"
						th:onclick="|window.location.href='?page=${paginationDTO.currentPage + 1}&size=${paginationDTO.pageSize}'|">next</button>
			</div>
		</section>
	</div>

	<footer th:replace="~{/html/include/footer :: footer}"></footer>
	<script>

	</script>
</body>

</html>