<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="html/include/head :: headerLayout"></th:block>

<body>
	<header th:include="~{/html/include/header :: header}" class="header includeJs"></header>

	<div class="container">
		<section class="section quiz">
			<p class="section-tit">QUIZ</p>
			<div class="quiz-complete">
				<ul class="quiz-list">
					<li class="" th:each="quiz : ${ quizList }">
						<a href="/quiz/test">
							<span class="num" th:text="Q + ${ quiz.quizId } + ."></span>
							<span th:text="${ quiz.getQuizTitle() }"></span>
						</a>
					</li>

				</ul>
			</div>
			<div class="pagination">
				<button type="button" class="prev">prev</button>
				<button type="button" class="active">1</button>
				<button type="button">2</button>
				<button type="button">3</button>
				<button type="button">4</button>
				<button type="button">5</button>
				<button type="button" class="next">next</button>
			</div>
		</section>
	</div>

	<footer th:replace="~{/html/include/footer :: footer}"></footer>

</body>
<!--/*<script th:inline="javascript">
	const quizList = [[${quizAnswer}]]

	if(quizAnswer.answer == 2) {
		li .add class complete
	}
</script>*/-->
</html>