<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="html/include/head :: headerLayout"></th:block>

  <body>
    <header th:include="~{/html/include/header :: header}" class="header includeJs"></header>
    <div class="container">
      <section class="section quiz">
        <p class="section-tit">QUIZ</p>
        <div class="quiz-wrap">
          <div class="question">
            <p class="question-tit"><span>Q1</span>질문입니다.</p>
            <ul class="answer-list">
              <li class="first">
                <p>hello,are we meeting today?</p>
                <button class="heart-toggle answer-heart" type="button">
                  <svg viewBox="-10 -10 500 500" class="svg-heart" >
                    <path d="M0 200 v-200 h200
										  a100,100 90 0,1 0,200
										  a100,100 90 0,1 -200,0
										  z"/>
                  </svg>
                </button>
              </li>
              <li class="second">
                <button class="heart-toggle2 answer-heart" type="button">
                  <svg viewBox="-10 -10 500 500" class="svg-heart2" >
                    <path d="M0 200 v-200 h200
											  a100,100 90 0,1 0,200
											  a100,100 90 0,1 -200,0
											  z"/>
                  </svg>
                </button>
                <p>yes,what time suits you?</p>
              </li>
            </ul>
          </div>
          <div class="answer-wrap">
            <label for="answer">답변등록</label>
            <textarea id="answer"></textarea>
            <div class="btn-wrap type2 mg-t--20">
              <button type="button" class="btn btn-half btn-line" onclick="location.href='login.html'">
                취소
              </button>
              <button type="submit" class="btn btn-half btn-pink" onclick="location.href='join_complete.html'">
                등록
              </button>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer th:replace="~{/html/include/footer :: footer}"></footer>
    <script>
      const heart = document.querySelector('.svg-heart');
      const heart2 = document.querySelector('.svg-heart2');

      let toggleState = false;

      function toggleColor() {
        heart.style.fill == 'red' ?
                heart.style.fill = '#eee' :
                heart.style.fill = 'red';
        heart.style.fill == 'red' ?
                toggleState = true :
                toggleState = false;
      }

      heart.addEventListener('click', toggleColor);

      function toggleColor2() {
        heart2.style.fill == 'red' ?
                heart2.style.fill = '#eee' :
                heart2.style.fill = 'red';
        heart2.style.fill == 'red' ?
                toggleState = true :
                toggleState = false;
      }

      heart2.addEventListener('click', toggleColor2);
    </script>
  </body>
</html>
