<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="html/include/head :: headerLayout"></th:block>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/Game/MoveGame/MoveGameStyle.css">
</head>
<body>
<header th:include="~{/html/include/header :: header}" class="header includeJs"></header>
<!-- 게임 디스플레이 -->
<div class="GameDisPlay">
    <div class="weather">
        <div style="padding-left: 50px;">
            <img src="/images/img/Game/Cround.svg" alt="cloud" style="width: 100%; max-width: 300px">
        </div>
        <div style="padding-left: 85px; display: flex">
            <img src="/images/img/Game/sun.svg" alt="sun" style="width: 100%; max-width: 300px">
        </div>
        <div style="padding-left: 50px;">
            <img src="/images/img/Game/Cround.svg" alt="cloud" style="width: 100%; max-width: 300px">
        </div>
        <div style="padding-left: 120px;">
            <img src="/images/img/Game/Cround.svg" alt="cloud" style="width: 100%; max-width: 300px">
        </div>
    </div>
    <div >
        <!-- 캐릭터 동적-->
        <div class="MovingLayout">
            <div id="F_character" class="character">
                <img src="/images/img/Game/F_Smile.svg" style="max-width: 100px; width: 100%">
            </div>
            <div id="M_character" class="character">
                <img src="/images/img/Game/M_Smile.svg" style="max-width: 100px; width: 100%">
            </div>
        </div>

        <!-- 다리 -->
        <div class="BridgeLayout">
            <img src="/images/img/Game/bridge.svg" style="width: 100%">
        </div>
    </div>

    <div class="attendancetransfer">
        <div style="display: flex">
            <button class="attendacetransferButton" id="F_btn">
                <img src="/images/img/Game/AttendanceButton.svg" class="attendanceBtnBody">
            </button>
            <button class="attendacetransferButton" id="M_btn">
                <img src="/images/img/Game/AttendanceButton.svg" class="attendanceBtnBody">
            </button>
        </div>
    </div>
</div>


<!-- UI -->
<div class="GameUI">
    <div class="Dday">{Today}일차</div>
    <div class="Names">도움말</div>
    <div class="FName">
        <div>공주님</div>
        <div style="margin-top: 50px">{UserName}님</div>
    </div>
    <div class="MName">
        <div>왕자님</div>
        <div style="margin-top: 50px">{UserName}님</div>
    </div>
    <div class="Time">{Time}</div>
</div>
<script src="/js/Game/BridgeMoving.js"></script>
</body>
</html>
