<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="html/include/head :: headerLayout"></th:block>
<!--<head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />-->
<!--    <meta content="IE=edge" http-equiv="X-UA-Compatible" />-->
<!--    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"-->
<!--        name="viewport" />-->
<!--    <title>Love Bridge</title>-->
<!--    <link href="../css/reset.css" rel="stylesheet" type="text/css" />-->
<!--    <link href="../css/style.css" rel="stylesheet" type="text/css" />-->
<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet"-->
<!--        type="text/css" />-->
<!--    <script src="https://kit.fontawesome.com/5f0b667788.js" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scrollbar/8.5.2/smooth-scrollbar.js"></script>-->
<!--    <script defer="defer" src="../js/include.js"></script>-->
<!--</head>-->
<style>
    .centerin{ align-items: center;justify-content: center; }
    .imglogo{display: flex;}
    .width1{display: flex;flex-direction: row-reverse;width: 83%;}
    .select{-moz-appearance: none;-webkit-appearance: none;}






    @media(max-width: 844px ){
        .ip12pro{
            padding-top: 20%;
        }

    }
    .imgfix{width: 100%; height: 250px; }
    .roww{
        justify-content: space-evenly;
    }

</style>


<body>
<header th:include="~{/html/include/header :: header}" class="header includeJs"></header>
    <div class="container">
        <section class="section album">
            <p class="section-tit">ALBUM</p>

            <form  enctype="multipart/form-data">

            <ul class="Acontainer roww">
                <li class="item11 mg-b--20"  th:each=" album : ${albumList}" >
                    <div class="imgdiv" >
<!--                        <img th:text="${album.image}">-->
                        <img class="imgfix" th:src="${album.image}">
                    </div>
                    <div class="album-util">
                        <div>
                             <button class="gearbt" type="button" onclick="isDelete(event)" >
                                 <i class="fa-solid fa-trash"  th:attr="data-value=${album.id}"></i>
                             </button>
                             <a class="gearbt" type="submit" th:href="@{album/modify/{id}(id=${album.id})}" >
                                 <i class="fa-solid fa-gear"></i>
                             </a>
                        </div>
                            <p class="date" th:text="${album.date}" ></p>
                    </div>
                    <p class="album-memo" th:text="${album.memo}"></p>
                </li>
            </ul>

        </form>
            <div class="btn-wrap right mg-b--20 ">
                <a href="/album/write" class="btn btn-pink btn-board">글쓰기</a>
            </div>

            <div class="pagination">
                <button type="button" class="prev">prev</button>
                <button type="button" class="active">1</button>
                <button type="button">2</button>
                <button type="button">3</button>
                <button type="button">4</button>
                <button type="button">5</button>
                <button type="button" class="next">next</button>
            </div>

        </section>
    </div>
<div th:replace="~{/html/include/footer :: footer}"></div>
</body>
<script>
    function isDelete(event) {
        event.preventDefault(); // Prevent default button behavior

        // Get album ID from data-value attribute
        var id = $(event.target).data('value');

        // Confirm dialog
        if (confirm("영구적으로 삭제 하시겠습니까?")) {
            // Send POST request to the server
            $.ajax({
                url: '/album/' + id , // URL to send request to
                type: 'POST', // Use POST for the delete request
                data: {
                    id: id
                },
                success: function(response) {
                    // Optionally handle success (e.g., reload the page or remove the item from the DOM)
                    location.reload();
                },
                error: function(error) {
                    // Optionally handle error
                    alert("An error occurred while deleting the album.");
                }
            });
        }
    }
// function isDelete(event){
//     if(confirm("영구적으로 삭제 하시겠습니까?")){
//         const id = event.target.getAttribute('data-value');
//         deleteAlbum(id);
//     }
//
// }
//
//
// function deleteAlbum(id){
//     fetch(`album/${id}`, {
//         method: 'DELETE',
//         headers: {
//             'Content-Type': 'application/json'
//         }
//
//     })
//         .then(response => {
//             if (response.ok) {
//                 alert("삭제되었습니다.");
//                 location.reload(); // 페이지를 새로고침하여 삭제된 항목이 반영되도록 합니다.
//             } else {
//                 alert("삭제 실패");
//             }
//         })
//         .catch(error => {
//             console.error('Error:', error);
//             alert("삭제 중 오류가 발생했습니다.");
//         });
//
// }
</script>
</html>