<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="html/include/head :: headerLayout"></th:block>

<!--<head>-->
<!--  <meta charset="utf-8" />-->
<!--  <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />-->
<!--  <meta content="IE=edge" http-equiv="X-UA-Compatible" />-->
<!--  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"-->
<!--    name="viewport" />-->
<!--  <title>Love Bridge</title>-->
<!--  <link href="../css/reset.css" rel="stylesheet" type="text/css" />-->
<!--  <link href="../css/style.css" rel="stylesheet" type="text/css" />-->
<!--  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet"-->
<!--    type="text/css" />-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>-->
<!--  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scrollbar/8.5.2/smooth-scrollbar.js"></script>-->
<!--  <script defer="defer" src="../js/include.js"></script>-->
<!--</head>-->

<body>
<!--  <header data-include-file="html/include/header.html" class="header includeJs"></header>-->
<header th:include="~{/html/include/header :: header}" class="header includeJs"></header>
  <div class="container">
    <section class="section album-write">
      <p class="section-tit">앨범 만들기</p>

<form method="post" action="/album/write" >
        <label class="input-label required">날짜</label>
        <div class="input-wrap">
                <input type="date" class="input-text" placeholder="20XX-XX-XX" name="date"/>
        </div>

        <label class="input-label required ">메모</label>

        <div class="textarea-wrap">
          <textarea name="memo" placeholder="내용을 입력하세요"  ></textarea>
        </div>

        <label class="input-label required">첨부파일</label>
        <div class="input-file">
          <input class="upload-name" name="image">
          <label for="file">파일찾기</label>
          <input type="file" id="file">
        </div>

        <div class="input-guide error">
          첨부파일이 존재하지 않습니다
        </div>

        <div class="btn-wrap type2 mg-t40">
            <button type="button" class="btn btn-half btn-line" onclick="location.href='/album'">
            취소
            </button>
            <button type="submit" class="btn btn-half type2 btn-pink">
            작성완료
            </button>
        </div>
</form>
    </section>

  </div>
<div th:replace="~{/html/include/footer :: footer}"></div>
<!--  <footer data-include-file="html/include/footer.html" class="footer includeJs"></footer>-->
  <script>
    $("#file").on('change', function () {
      var fileName = $("#file").val();
      $(".upload-name").val(fileName);
    });
  </script>
</body>

</html>