<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="html/include/head :: headerLayout"></th:block>

<head>
  <style>

    /* 작은 화면에서 작성자 열 숨기기 */
    @media (max-width: 660px) {

      .section{
        width: 100%;
        padding: 5%;
      }

      /* 작성자 열 숨겼을 때 남은 열 너비 조정 */
      .table-wrap table {
        table-layout: fixed;
        white-space: nowrap;
      }
    }
  </style>
</head>

<body>
  <header th:include="~{/html/include/header :: header}" class="header includeJs"></header>

  <div class="container">
    <section class="section board notice-write">
      <form th:action="@{/board/notice/write}" method="post" id="noticeForm" enctype="multipart/form-data">
        <p class="section-tit">공지사항 작성</p>
        <p th:text="${#dates.format(message.date, 'yyyy-MM-dd')}"></p>
        <label class="input-label">제목</label>
        <div class="input-wrap">
          <input placeholder="제목을 입력하세요" type="text" class="input-text" id="title" name="title" th:value="${message.title}" required >
        </div>
        <label class="input-label">내용</label>
        <div class="textarea-wrap">
          <textarea placeholder="내용을 입력하세요" type="text" id="text" name="text" th:text="${message.text}" required></textarea>
        </div>
        <div class="btn_wrap mg-t--30">
          <button class="btn btn-full btn-pink" type="submit" id="submitButton" onclick="return submitPost(event);">글쓰기</button>
        </div>
      </form>
    </section>
  </div>
  <footer th:replace="~{/html/include/footer :: footer}"></footer>
</body>

</html>

<script>
  function submitPost(event){
    event.preventDefault();

    const title = document.getElementById('title').value;
    const text = document.getElementById('text').value;

    if(!title){
      alert('제목을 입력해주세요.');
      return false;
    } else if(!text){
      alert('내용을 입력해주세요.');
      return false;
    }

    document.getElementById('submitButton').disabled = true;
    document.getElementById('noticeForm').submit();

  }
</script>