@charset "UTF-8";@import url(./font.css);@import url(./sakura.css);
body,
html { width: 100%; min-height: 100%; height: 100%; overflow-x: hidden; overflow-y: auto;
    background: #ffefef;}
.m-block,
.m-flex { display: none !important; } 
button{cursor: pointer}

@media (max-width: 660px){
.m-block { display: block !important; } 
.m-flex { display: flex !important; } 
.m-none { display: none !important; } 
}
.d-flex { display: flex; align-items: center; } 
.d-flex.space { justify-content: space-between; } 

.mg-t--0 { margin-top: 0 !important; } 
.mg-t--10 { margin-top: 10px !important; } 
.mg-t--20 { margin-top: 20px !important; } 
.mg-t--30 { margin-top: 30px !important; } 
.mg-t--40 { margin-top: 40px !important; } 
.mg-b--0 { margin-bottom: 0 !important; } 
.mg-b--10 { margin-bottom: 10px !important; } 
.mg-b--20 { margin-bottom: 20px !important; } 
.mg-b--80 { margin-bottom: 80px !important; } 
.mg-l--0 { margin-left: 0 !important; } 
.mg-l--10 { margin-left: 10px !important; } 
.mg-l--20 { margin-left: 20px !important; } 
.mg-r--10 { margin-right: 10px !important; } 
.mg-r--20 { margin-right: 20px !important; } 

.pd-b--0 { padding-bottom: 0 !important; } 
.pd-b--10 { padding-bottom: 10px !important; } 
.pd-b--20 { padding-bottom: 20px !important; } 
.pd-b--30 { padding-bottom: 30px !important; } 
.pd-t--0 { padding-top: 0 !important; } 
.pd-t--10 { padding-top: 10px !important; } 
.pd-t--20 { padding-top: 20px !important; } 
.pd-t--30 { padding-top: 30px !important; } 

.txt-c--pink { color: #ff646a; } 
.txt-c--sub { color: #4c81e6; } 
.txt-c--grey { color: #999 !important; } 
.txt-c--black { color: #000 !important; } 
.txt-size--12 { font-size: 1.2rem; } 
.txt-size--13 { font-size: 1.3rem; } 
.txt-size--15 { font-size: 1.5rem; } 
.txt-weight--thin { font-weight: 400 !important; } 
.txt-weight--bold { font-weight: 600 !important; } 
.txt-height--1 { line-height: 1.5; } 
.txt-center { text-align: center; } 
.txt-left { text-align: left !important; } 
.txt-right { text-align: right; } 
.txt-right div { margin: 0 0 0 auto; } 
.txt-only { font-size: 1.5rem; font-weight: 600; line-height: 1.5; } 

u { text-underline-offset: 2px; } 

.icon-clap { background-image: url("../../images/icons/clap.svg"); background-repeat: no-repeat; background-position: center; width: 86px; height: 104px; } 
.icon-chart { background-image: url("../../images/icons/chart.svg"); background-repeat: no-repeat; background-position: center; width: 77px; height: 60px; } 
.fa-circle-check { font-size: 5rem; color: #FF646A; } 
.fa-face-frown { font-size: 5rem; color: #FF646A;}

.btn { background-color: transparent; border: none; outline: none; cursor: pointer; font-family: "Pretendard", sans-serif; padding: 0; display: inline-flex; align-items: center; justify-content: center; font-weight: 500; color: #000; border-radius: 8px; } 
.btn:disabled { background-color: #f5f6f8 !important; color: #999; cursor: default; } 
.btn-wrap { margin-top: 30px; text-align: center; } 
.btn-wrap.right { text-align: right; } 
.btn-wrap.left { text-align: left; } 
.btn-wrap.right .btn { margin: 0 0 0 10px; } 
.btn-wrap.type2 { display: flex; align-items: center; }
.btn-full { width: 100%; height: 50px; border-radius: 8px; font-size: 1.6rem; font-weight: 600; } 
.btn-half { flex: 1; margin-right: 14px !important; height: 60px; font-size: 1.6rem; } 
.btn-half:last-child { margin-right: 0 !important; } 
.btn-half.type2 { flex: 2; } 
.btn-sm { white-space: nowrap; height: 32px; font-size: 1.4rem; padding: 0 12px; border-radius: 4px; } 
.btn-md { padding: 0 15px; height: 34px; font-size: 1.4rem; font-weight: 500; border-radius: 6px; } 
.btn-lg { padding: 0 20px; height: 50px; font-size: 1.6rem; font-weight: 500; border-radius: 6px; } 
.btn-round { border-radius: 50px; } 
.btn-line { border: 1.5px solid #FF646A; color: #FF646A; font-weight: 700; } 
.btn-line.type2 { border: 1px solid #FF979B; color: #FF979B;} 
.btn-line.type2.noshadow { box-shadow: none; } 
.btn-dark { background-color: #333; color: #fff; } 
.btn-grey { background-color: #f5f6f8; color: #999; } 
.btn-primary { background-color: #445b87; color: #fff; } 
.btn-pink { background: #FF646A; color: #fff; }
.btn-monalisa { background: #FF979B; color: #fff; }
.btn-link { text-decoration: underline; text-underline-offset: 2px; } 
.btn-next:after { content: ">"; display: block; font-weight: 100; margin-left: 7px; }
.btn-board{padding: 10px; width: 150px; font-size: 1.4rem; height: 45px;}

input { font-family: "Pretendard", sans-serif !important; outline: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; } 
input::-moz-placeholder { color: #bbb; font-weight: 400; } 
input::placeholder { color: #bbb; font-weight: 400; } 
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; appearance: none; } 
textarea {width: 100%; background: #fff; border-radius: 8px; border: 2px solid #ddd; min-height: 350px; padding: 3%; font-size: 1.7rem; color: #333;} 
textarea:focus { border: 2px solid #FF0707; } 
textarea::placeholder{color: #bbb;}
.input-wrap { position: relative; display: flex; align-items: center; } 
.input-wrap + .input-label { margin-top: 30px; } 
.textarea-wrap + .input-label { margin-top: 30px; } 
.input-wrap .unit { margin: 0 8px; } 
.input-wrap .btn { white-space: nowrap; height: 50px; min-width: -moz-fit-content; min-width: fit-content; padding: 0 24px; font-size: 1.6rem; margin-left: 10px; } 
.input-label { display: block; font-size: 1.4rem; font-weight: 500; color: #333; } 
.input-label + .input-wrap { margin-top: 14px; }
.input-label + .input-file { margin-top: 14px; } 
.input-label + .textarea-wrap{ margin-top: 14px; }
.input-label.required:after { content: "*"; color: #ff4040; } 
.input-guide { font-size: 1.3rem; color: #445b87; display: flex; margin-top: 10px; align-items: center; } 
.input-guide:before { content: ""; display: inline-block; background-image: url("../../images/icons/caption.svg"); background-repeat: no-repeat; background-position: center; width: 14px; height: 14px; margin-right: 4px; } 
.input-guide + .input-label { margin-top: 30px; } 
.input-guide.error { color: #ff4040; } 
.input-guide.error:before { background-image: url("../../images/icons/alert_circle.svg"); background-repeat: no-repeat; background-position: center; width: 17px; height: 17px; background-size: contain;} 
.input-guide.confirm { color: #64c17e; } 
.input-guide.confirm:before { background-image: url("../../images/icons/caption_green.svg"); background-repeat: no-repeat; background-position: center; width: 17px; height: 17px; } 
.input-text { width: 100%; padding: 0 20px; font-size: 1.5rem; background-color: #fff; border: 2px solid #ddd; border-radius: 8px; font-weight: 400; color: #333; height: 50px; } 
.input-text.line { background-color: #fff; border: 1px solid #ddd; } 
.input-text:focus { background-color: #fff; border: 2px solid #FF0707; } 
.input-date { padding-right: 50px; background: url(../../images/icons/calendar.svg) no-repeat calc(100% - 15px) center; } 
.input-checkbox { display: flex; align-items: center; cursor: pointer; } 
.input-checkbox input:checked ~ .box { background-color: #445b87; } 
.input-checkbox input:checked ~ .check { background-image: url(../../images/icons/check_pri.svg); } 
.input-checkbox input:checked ~ .check.square { background-image: url(../../images/icons/check_wh_sm.svg); background-color: #FF646A; } 
.input-checkbox .box { display: inline-block; width: 26px; min-width: 26px; height: 26px; border-radius: 20px; background-color: #ddd; background-size: 12px; background-image: url(../../images/icons/check_wh.svg); background-repeat: no-repeat; background-position: 50%; } 
.input-checkbox .box.round { min-width: 32px; width: 32px; height: 32px; border: 1px solid #bbb; border-radius: 20px; background-image: url(../../images/icons/check_grey2.svg); background-repeat: no-repeat; background-position: center; background-size: auto; } 
.input-checkbox .box.check { min-width: 18px; width: 18px; height: 12px; border: none; background-image: url(../../images/icons/check_grey.svg); background-repeat: no-repeat; background-position: center; background-size: auto; } 
.input-checkbox .check { display: inline-block; width: 10px; min-width: 10px; height: 8px; background-image: url(../../images/icons/check_grey.svg); background-repeat: no-repeat; background-size: 100%; } 
.input-checkbox .check.square { width: 20px; height: 20px; background-color: #ddd; background-image: url(../../images/icons/check_wh_sm.svg); background-size: 10px; background-position: center; border-radius: 4px; } 
.input-checkbox .text { font-size: 1.4rem; margin-left: 12px; margin-right: 10px; font-weight: 600; } 
.input-checkbox.type2 { padding: 14px 20px; border-radius: 10px; background-color: #f5f6f8; width: 100%; } 
.input-checkbox.type2 .text { font-size: 1.7rem; font-weight: 600; } 
.input-file {display: flex; width: 100%;}
.input-file .upload-name {flex: 1; width: 100%;padding: 0 20px;font-size: 1.5rem;background-color: #fff;border: 2px solid #ddd;border-radius: 8px;font-weight: 400;color: #333;height: 50px;}
.input-file label {display: flex; align-items: center; padding: 0 20px; color: #fff;vertical-align: middle;background-color: #FF979B;cursor: pointer;height: 50px;margin-left: 10px; font-size: 1.4rem; border-radius: 8px;}
.input-file input[type="file"] {position: absolute;width: 0;height: 0;padding: 0;overflow: hidden;border: 0;}
@media (max-width: 660px){
}

.input-checkbox.type-btn input:checked ~ .wrap { border: 1px solid #333; } 
.input-checkbox.type-btn input:checked ~ .wrap .text { font-weight: 700; } 
.input-checkbox.type-btn .wrap { border: 1px solid #ddd; border-radius: 12px; height: 60px; padding: 0 20px; width: 100%; display: flex; align-items: center; } 
.input-checkbox.type-btn .wrap .text { font-size: 1.6rem; } 
.input-checkbox.type-btn .logo.kakao { background-image: url("../../images/icons/logo_kakao.svg"); background-repeat: no-repeat; background-position: center; width: 26px; height: 26px; background-size: 100%; } 
.input-checkbox.type-btn .logo.pass { background-image: url("../../images/icons/logo_pass.svg"); background-repeat: no-repeat; background-position: center; width: 26px; height: 26px; }

.input-radio [type="radio"]:checked,
.input-radio [type="radio"]:not(:checked) {position: absolute;left: -9999px; }
.input-radio [type="radio"]:checked + label,
.input-radio [type="radio"]:not(:checked) + label {position: relative;padding-left: 28px;cursor: pointer;line-height: 20px;display: inline-block;color: #666; }
.input-radio [type="radio"]:checked + label:before,
.input-radio [type="radio"]:not(:checked) + label:before {content: '';position: absolute;left: 0;top: 0;width: 18px;height: 18px;border: 2px solid #ddd;border-radius: 100%;background: #fff; }
.input-radio [type="radio"]:checked + label:after,
.input-radio [type="radio"]:not(:checked) + label:after {content: '';width: 12px;height: 12px;background: #FF646A;position: absolute;top: 5px;left: 5px;border-radius: 100%;-webkit-transition: all 0.2s ease;transition: all 0.2s ease; }
.input-radio [type="radio"]:not(:checked) + label:after {opacity: 0;-webkit-transform: scale(0);transform: scale(0); }
.input-radio [type="radio"]:checked + label:after {opacity: 1;-webkit-transform: scale(1);transform: scale(1); }
.input-radio label {font-size: 1.4rem;color: #333; }
.input-radio + .input-radio { margin-left: 15px }
/* container */
.container { background: #ffefef; min-height: 100vh; padding: 150px 0 100px; z-index: 2; } 

@media (max-width: 660px){
    .container { display: flex; align-items: center;padding: 30% 15px; }
}
/* .header */
.header{width: 100%; overflow: hidden}
.header .menu { cursor: pointer; position: absolute; top: 5%; right: 5%; width: 48px; height: 25px; z-index: 9999; }
.header .bars { width: 24px; height: 5px; background: #333; } 
.header .bars::before,
.header .bars::after { content: ''; position: absolute; width: 48px; height: 5px; background: #000; } 
.header .bars::before { margin-top: 10px; } 
.header .bars::after { margin-top: 20px; width: 24px; right: 0; }
.header nav { position: absolute; width: 100%; height: 30px; background: rgba(255, 255, 255, 1);; justify-content: center; align-items: center; top: -200vw; z-index: 10; display: none; }
.header nav ul { list-style: none; }
.header nav ul li + li { margin-top: 50px; }
.header nav ul li a { font-family: "Raleway", sans-serif; color: #fafafa; font-size: 3.5rem; font-weight: 700; text-decoration: none; position: relative; opacity: 0; pointer-events: none; animation: gradient 2s ease infinite; animation-direction: alternate; -webkit-text-fill-color: transparent; -text-fill-color: transparent; -webkit-background-clip: text; background-clip: text; background-size: 100% 500%; } 
.header nav ul li:nth-child(1) a { background-image: linear-gradient(49deg, #2d4de0 0, #9f71f0 30%, #fc6277 58%, #f8ef6f 95%); } 
.header nav ul li:nth-child(2) a { background-image: linear-gradient(231deg, #49d4fc 0, #908df4 26%, #d95075 67%, #fac9b6 100%); }
.header nav ul li:nth-child(3) a { background-image: linear-gradient(43deg, #e85602 0, #f5b46c 29%, #d9caf4 68%); }
.header nav ul li:nth-child(4) a { background-image: linear-gradient(43deg, #fbfe22 0, #f3eda6 40%, #ce88d9 100%); }
.header nav ul li:nth-child(5) a { background-image: linear-gradient(117deg, #6a6adc 0, #b2f0b7 63%, #7dc7f0 100%); }
.header nav ul li:nth-child(6) a { background-image: linear-gradient(49deg, #2d4de0 0, #9f71f0 30%, #fc6277 58%, #f8ef6f 95%); }
.header nav ul li:nth-child(7) a { background-image: linear-gradient(231deg, #49d4fc 0, #908df4 26%, #d95075 67%, #fac9b6 100%); }
.header nav ul li:nth-child(8) a { background-image: linear-gradient(43deg, #e85602 0, #f5b46c 29%, #d9caf4 68%); }
.header nav ul.login li + li{margin-top:30px}
.header nav ul.login li + .menu-logout{margin-top:60px;}

.header nav ul li a:after { content: ''; width: 100%; position: absolute; height: 3px; border-radius: 5px; background: #fff; bottom: -10px; left: 0; transform-origin: left; transition: transform .5s ease; transform: scaleX(0); }
.header nav ul li a:hover:after { transform: scaleX(1); } 
.header nav .close { width: 30px; height: 30px; position: absolute; top: 6%; right: 5%; cursor: pointer; pointer-events: none; }
.header nav h2 { position: absolute; top: 5%; left: 5%; opacity: 0; pointer-events: none; color: #e5e5e5; font-size: 2em; } 
.header nav .close div::before,
.header nav .close div::after { content: ''; position: absolute; top: 13px; width: 30px; height: 4px; background: #e5e5e5; transition: background .5s ease; }
.header nav .close div::before { transform: rotate(-45deg); } 
.header nav .close div::after { transform: rotate(45deg); } 
.header nav .close:hover div::before,
.header nav .close:hover div::after { background: #333; } 
.header nav input { display: none; }
.logo-wrap{display: block;}
.logo-wrap a{display: block;}
.logo-wrap a img{max-width: 125px;}
.mobile-logo{display: none; position: absolute; left: 5%; top: 3%;}
.mobile-logo img{max-width: 100px;}
.header .menu{display: block}
@media screen and (max-width: 660px){
  .header ::-webkit-scrollbar { width: 10px; } 
  .header ::-webkit-scrollbar-track { background: #242526; } 
  .header ::-webkit-scrollbar-thumb { background: #3A3B3C; }
    .header .bars { width: 18px; height: 4px; background: #333; }
    .header .bars::before,
    .header .bars::after { content: ''; position: absolute; width: 42px; height: 4px; background: #000; }
    .header .bars::before { margin-top: 8px; }
    .header .bars::after { margin-top: 16px; width: 18px; right: 5px; }
    .mobile-logo{display: block; z-index: 9}
    .logo-wrap{display: none;}
    .header nav ul li a{font-size: 2.6rem; letter-spacing: 1.5px;}
    .header.open .menu{display: none}
    .header nav ul.login li + li{margin-top: 20px;}
}

/* footer */
.footer { position: relative; background-color: #ffefef; padding: 60px 30px; } 
.footer::before { content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 1px; background: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23FF9191FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e") 0 0; }
.footer-wrap { max-width: 1290px; margin: 0 auto; display: flex; justify-content: space-between; } 
.footer-wrap .copy { font-size: 1.6rem; color: #bbb; margin-top: 30px; } 


@media (max-width: 660px){
    .footer-wrap { display: flex; justify-content: center; }
    .footer { padding: 30px 0 60px; margin-top: 50px; border-top:1px solid #ff9191}
    .footer-wrap .copy{font-size: 1.3rem}
    .footer::before{display: none}

}

/* main */
section.main .text-wrap { height: 100%; } 
section.main .text-wrap li { border-bottom: 1px solid #ffd4d4; position: relative; overflow: hidden; } 
section.main .hover-box { font-family: "Raleway", sans-serif; padding-left: 15%; font-size: 12rem; font-weight: bold; letter-spacing: -.04em; margin: 0; color: rgb(182, 182, 182, 0.2); background: linear-gradient(to right, #ffcaca, #ffcaca) no-repeat; -webkit-background-clip: text; background-clip: text; background-size: 0%; display: inline-flex; flex-direction: column; align-items: flex-start; justify-content: center; transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s; } 
section.main .hover-box > .link-text { position: absolute; width: 100%; height: 100%; color: #ff9191; clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%); transform-origin: center; display: flex; } 
section.main .hover-box:hover > .link-text { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); position: absolute; left: 0; top: 0; background: #ffcaca; width: 100%; padding:0 15%; flex-direction: row; justify-content: space-between; } 
section.main .hover-box .link-text a { font-family: "Pretendard", sans-serif; font-weight: bold; list-style: none; text-decoration: none; } 
section.main .hover-box .link-text .fa-arrow-right { font-size: 1.5rem; color: #ff9191; margin-left: 3%; } 
section.main .hover-box .link-text .arrow-text { font-size: 1.5rem; display: flex; align-items: end; padding-bottom: 1.5%; animation: textSlide 0.8s linear infinite; letter-spacing: -.02em; } 
section.main .hover-box .main-text:nth-child(1) { line-height: 100%; } 
section.main .heart-wrap { display: flex; flex-flow: wrap; align-items: flex-start; justify-content: space-around; position: absolute; top:10%; left: 0; width: 100%; padding: 0 17% 0 20%;} 
section.main #heart { width: 11%; stroke: #FF979B; fill: #fff; stroke-dasharray: 54; stroke-dashoffset: 54; stroke-width: 0.3px; margin-top: -2.5vw; } 
section.main #heart { animation: 2s ease-in forwards on-heart, 0.8s linear 2s infinite beat; }
section.main .heart.off-heart { animation: 2s ease-out forwards off-heart; } 
section.main .heart-click { font-size: 4rem; font-weight: bold; } 
section.main #message { font-size: 4rem; opacity: 0; transition: opacity 6s; } 
section.main #message.show-message { opacity: 1; } 
section.main .main-visual{width: 100%; height: 100%; position: relative;}
section.main .main-visual img{width: 100%;}

section.main .main-visual .item-wrap{position: absolute; bottom: 10%; left: 0; width: 100%; display: flex; align-items: flex-end; justify-content: center; z-index: 2; padding-top: 11%}
section.main .main-visual .item-wrap .photo-item{position: absolute;top: 0; left: 0; width: 100%; z-index: -1;}
section.main .main-visual .item-wrap .photo{position: absolute; -webkit-animation: picture1 6s ease-in-out infinite; -moz-animation: picture1 6s ease-in-out infinite; -o-animation: picture1 6s ease-in-out infinite; animation: picture1 6s ease-in-out infinite; z-index: -1;}
section.main .main-visual .item-wrap .photo.pht-01{width: 10%; top: 54%; left: 4%;}
section.main .main-visual .item-wrap .photo.pht-02{width: 8%; top: 76.5%; left: 17%;-webkit-animation: picture2 6s ease-in-out infinite; -moz-animation: picture2 6s ease-in-out infinite; -o-animation: picture2 6s ease-in-out infinite; animation: picture2 6s ease-in-out infinite;}
section.main .main-visual .item-wrap .photo.pht-03{width: 7%; top: 96%; left: 48%;-webkit-animation: picture3 5s ease-in-out infinite; -moz-animation: picture3 5s ease-in-out infinite; -o-animation: picture3 5s ease-in-out infinite; animation: picture3 5s ease-in-out infinite;}
section.main .main-visual .item-wrap .photo.pht-04{width: 9%; top: 66.5%; right: 14%;-webkit-animation: picture4 6s ease-in-out infinite; -moz-animation: picture4 6s ease-in-out infinite; -o-animation: picture4 6s ease-in-out infinite; animation: picture4 6s ease-in-out infinite;}
section.main .main-visual .item-wrap .photo.pht-05{width: 8%; top: 37.5%; right: 3%;animation: 3s linear forwards picture3 infinite; animation-direction: reverse;}
section.main .main-visual .item-wrap .character img{max-width: 300px;}
/* section.main .main-visual .item-wrap .character.men{position: absolute;} */
section.main .main-visual .item-wrap .center-item{padding-top: 10%; display: flex; flex-direction: column;}
section.main .main-visual .item-wrap .center-item img{max-width: 200px;}
section.main .main-visual .item-wrap .center-item img.book-img{max-width: 220px; margin-top: -20px;}
section.main .main-visual .item-wrap .camera img{max-width: 200px; align-self: flex-end;}
section.main .main-visual .item-wrap .cat img{max-width: 150px; align-self: flex-end;}
/* section.main .main-visual .item-wrap::before{content: ''; background: url(../../images/camera.png) no-repeat 0 0 / contain; width: 15%; height: 27%; position: absolute; left: 10%; bottom: 0;}
section.main .main-visual .item-wrap::after{content: ''; background: url(../../images/cat_02.png) no-repeat 0 0 / contain; width: 8%; height: 40%; position: absolute; right: 18%; bottom: 0;} */
.swap-right {width: 50vw;}
.swap {display: flex;position: relative;width: 100vw;height: auto;}
.swap::before { content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 1px; background: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23FF9191FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e"); z-index: 1}
.swap-box {position: relative; height: 100vh;width: 50vw; display: flex; align-items: center; flex-direction: column; justify-content: center;}
.face-ico{max-width: 400px;}
.left-bubbly,.right-question {position: relative; font-size: 2.2rem; flex-direction: column; padding: 25px 50px; text-align: center; line-height: 1.3; background: #ffa9a9;border-radius: .4em; width: 100%; height: 100%; min-height: 250px; display: flex; align-items: center; justify-content: center; color: #fff}
.left-bubbly .left-answer{color: #fff;}
.left-bubbly:after {content: ''; z-index: -1; position: absolute;top: 0;left: 50%;width: 0;height: 0;border: 55px solid transparent;border-left-color: #ffa9a9;border-right: 0;margin-top: -49.5px;margin-right: -25px;}
.right-question:after {content: '';position: absolute;bottom: -55px;left: 50%;width: 0;height: 0;border: 55px solid transparent;border-left-color: #ffa9a9;border-right: 0;margin-top: -49.5px;margin-right: -25px;}
.swap-text {width: 50vw;height: 100vh;position: relative;top: 0;left: 0; padding: 50px}
.swap-text::before { content: ''; position: absolute; right: 0; top: 0; width: 1px; height: 100%; background: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23FF9191FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e"); z-index: 1}
.swap .text {position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);color: white;}
.right-question-wrap{position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);font-size: 30px;color: white;}
.swap-right .face-text{color: #FF979B; font-size: 3rem; line-height: 1.3; text-align: center;}
.link-list{margin-top:20px;}
.link-list li + li{margin-top:5px;}
.link-list li a{display: flex; align-items: center; color: #fff; font-size: 2rem;  text-align: left;}
.link-list li a .arrow{display: inline-block;margin-left: 5px;width: 10px;height: 10px;border-top: 2px solid #fff;border-left: 2px solid #fff; transform: rotate(135deg);}
.arrow-right, .arrow-left, .long-arrow-right, .long-arrow-left {display: block;}
@media (max-width: 660px){
    section.main .main-visual .item-wrap{bottom: 30%;}
    .swap {flex-direction: column-reverse; border-top: 1px solid #ff9191;}
    .swap-right {width: 100vw; height: 50vh;}
    .swap-text { width: 100vw; height: 50vh; padding:0 15px; border-top: 1px solid #ddd;}
    .face-ico {max-width: 150px;}
    .left-bubbly, .right-question{font-size: 1.5rem; padding: 20px 20px; min-height: 150px; width: 70%; margin: 0 auto}
    .swap .text {width: 100%; padding: 0 15px; text-align: center}
    .link-list{margin-top: 10px;}
    .link-list li a{font-size: 1.4rem}
    .left-answer:after{margin-top: -22.5px;}
    .swap-box{height: 50vh; width: 100vw;}
    .right-question-wrap {width: 100%; padding: 0 15px; text-align: center}
    .right-question:after{bottom: -25px; z-index: -1;}
    .swap-text::before{display: none}
    .swap-right::before {display: none;}
    .left-bubbly:after {border: 25px solid transparent;margin-top: -23.5px;border-left-color: #ffa9a9;border-right: 0;}
    .link-list li a .arrow{width: 7px;height: 7px;border-top: 1px solid #fff;border-left: 1px solid #fff; transform: rotate(135deg);}
    .swap::before{display: none;}
}

@-webkit-keyframes picture1 {
  0%, 100% {
      -webkit-transform: rotate(-6deg);
  }
  50% {
      -webkit-transform: rotate(8deg);
  }
}
@-moz-keyframes picture1 {
  0%, 100% {
      -moz-transform: rotate(-6deg);
  }
  50% {
      -moz-transform: rotate(8deg);
  }
}
@-o-keyframes picture1 {
  0%, 100% {
      -o-transform: rotate(-6deg);
  }
  50% {
      -o-transform: rotate(8deg);
  }
}
@keyframes picture1 {
  0%, 100% {
      transform: rotate(-6deg);
  }
  50% {
      transform: rotate(8deg);
  }
}
/* picture 2 5*/
@-webkit-keyframes picture2 {
  0%, 100% {
      -webkit-transform: rotate(6deg);
  }
  50% {
      -webkit-transform: rotate(-8deg);
  }
}
@-moz-keyframes picture2 {
  0%, 100% {
      -moz-transform: rotate(6deg);
  }
  50% {
      -moz-transform: rotate(-8deg);
  }
}
@-o-keyframes picture2 {
  0%, 100% {
      -o-transform: rotate(6deg);
  }
  50% {
      -o-transform: rotate(-8deg);
  }
}
@keyframes picture2 {
  0%, 100% {
      transform: rotate(6deg);
  }
  50% {
      transform: rotate(-8deg);
  }
}
/* picture 0*/
@-webkit-keyframes picture3 {
  0%, 100% {
      -webkit-transform: translate(0, -1px) rotate(6deg);
  }
  50% {
      -webkit-transform: translate(-2px, 3px) rotate(-8deg);
  }
}
@-moz-keyframes picture3 {
  0%, 100% {
      -moz-transform: translate(0, -1px) rotate(6deg);
  }
  50% {
      -moz-transform: translate(-2px, 3px) rotate(-8deg);
  }
}
@-o-keyframes picture3 {
  0%, 100% {
      -o-transform: translate(0, -1px) rotate(6deg);
  }
  50% {
      -o-transform: translate(-2px, 3px) rotate(-8deg);
  }
}
@keyframes picture3 {
  0%, 100% {
      transform: translate(0, -1px) rotate(6deg);
  }
  50% {
      transform: translate(-2px, 3px) rotate(-8deg);
  }
}
/* picture 3*/
@-webkit-keyframes picture4 {
  0%, 100% {
      -webkit-transform: rotate(-8deg);
  }
  50% {
      -webkit-transform: rotate(10deg);
  }
}
@-moz-keyframes picture4 {
  0%, 100% {
      -moz-transform: rotate(-8deg);
  }
  50% {
      -moz-transform: rotate(10deg);
  }
}
@-o-keyframes picture4 {
  0%, 100% {
      -o-transform: rotate(-8deg);
  }
  50% {
      -o-transform: rotate(10deg);
  }
}
@keyframes picture4 {
  0%, 100% {
      transform: rotate(-8deg);
  }
  50% {
      transform: rotate(10deg);
  }
}
@keyframes textSlide { 
  0% { transform: translateX(0); } 
  50% { transform: translateX(20%); } 
  100% { transform: translateX(0); } 
}
@keyframes gradient { 
  0% { background-position: 0 0}

  100% { background-position: 0 100%} 
}
@keyframes on-heart { to { stroke-dashoffset: 54; fill: #fff; } 

  70% { stroke-dashoffset: 0; fill: #fff; } 

  100% { stroke-dashoffset: 0; fill: #ffcaca} 
}
@keyframes off-heart { 
  0% { stroke-dashoffset: 0; fill: var( --magenta); }

  30% { stroke-dashoffset: 0; fill: var(--grey); } 

  100% { stroke-dashoffset: 54; fill: var(--grey); } 
}
@keyframes beat { 
  0% { transform: scale(1, 1); } 

  50% { transform: scale(0.9, 0.9); } 

  100% { transform: scale(1, 1); } 
}
.main .btn-full { max-width: 420px; } 


/* section */
.section { max-width: 1280px; margin: 0 auto; } 
.section-tit { font-size: 3.3rem; font-weight: 700; margin-bottom: 40px; line-height: 1.3; }
.section .tit{color: #333;}
@media (max-width: 660px){
  .section-tit { font-size: 2rem; } 
}
.section-sub { font-size: 2.6rem; font-weight: 700; line-height: 1.3; margin-bottom: 40px; } 
@media (max-width: 660px){
  .section-sub { font-size: 2.2rem; line-height: 1.5; } 
}
.section.main {max-width: unset; height: 100%; min-height: 100vh; overflow: hidden;}

.section.login, .section.reset { max-width: 530px; margin: 0 auto; flex: 1; width: 100%}
@media (max-width: 660px){
  .section.mobile { position: relative; height: calc(100vh - 160px); } 
  .section.mobile .btn-wrap { position: absolute; left: 0; bottom: -50px; width: 100%; } 
  .section.mobile .btn-wrap .btn { margin: 0; } 
}
.section.join { max-width: 600px; width: 100%}
@media (max-width: 660px) { } 
.section.secession  { min-height: 500px; position: relative; display: flex; flex-direction: column; align-items: center; justify-content: center; font-size: 2rem; text-align: center; line-height: 1.5; }
.section.secession .guide-none { font-size: 1.4rem; color: #999; height: 187px; display: flex; align-items: center; justify-content: center; flex-direction: column; border-top: 1px solid #eee; border-bottom: 1px solid #eee; width: 100%; margin-top: 20px; } 
.section.secession img { vertical-align: text-top; } 
.section.secession .tit { font-size: 2.6rem; margin: 24px 0; font-weight: 700; line-height: 1.5; } 
.section.secession p { font-size: 1.8rem; color: #444; font-weight: 400; margin-bottom: 50px; } 
.section.secession p.txt-blue { color: #445b87; font-weight: 700; margin: 28px 0 16px; } 
.section.secession p.type2 { font-size: 1.4rem; }
.section.secession > .box { box-shadow: 0 0 30px rgba(0, 0, 0, 0.14); border-radius: 10px; padding: 25px 60px; text-align: center; margin-top: 60px; font-size: 2rem; } 
.section.secession .btn-wrap { width: 300px; margin: 30px auto 0; } 
@media (max-width: 660px){
  .section.secession .btn-wrap { margin: 0 auto; } 
}

.section.guide { height: calc(100vh - 291px); min-height: 500px; position: relative; display: flex; flex-direction: column; align-items: center; font-size: 2rem; text-align: center; line-height: 1.5; letter-spacing: -0.3px; } 
.section.guide .guide-none { font-size: 1.4rem; color: #999; height: 187px; display: flex; align-items: center; justify-content: center; flex-direction: column; border-top: 1px solid #eee; border-bottom: 1px solid #eee; width: 100%; margin-top: 20px; } 
.section.guide img { vertical-align: text-top; } 
.section.guide .icon { margin: 0 auto; } 
.section.guide .tit { font-size: 2.6rem; margin: 60px 0 30px; font-weight: 700; line-height: 1.5; } 
.section.guide p { font-size: 1.8rem; color: #666; font-weight: 400; } 
.section.guide p.txt-blue { color: #445b87; font-weight: 700; margin: 28px 0 16px; } 
.section.guide p.type2 { font-size: 1.4rem; } 
.section.guide > .box { box-shadow: 0 0 30px rgba(0, 0, 0, 0.14); border-radius: 10px; padding: 25px 60px; text-align: center; margin-top: 60px; font-size: 2rem; } 
.section.guide .btn-wrap { width: 300px; margin: 70px auto 0; } 
@media (max-width: 660px){
  .section.guide .btn-wrap { margin: 0 auto; } 
}
.section.guide .btn-wrap .btn { margin: 0; } 
.section.guide .login-btn--wrap { display: flex; justify-content: flex-start; margin-top: 50px; width: 100%; } 
.section.guide .login-btn--wrap .btn { flex: 1; height: 100px; margin-right: 20px; border-radius: 10px; padding: 20px; justify-content: flex-start; align-items: flex-start; font-size: 1.6rem; font-weight: 600; text-align: left; white-space: nowrap; background-repeat: no-repeat; background-position: calc(100% - 20px) calc(100% - 20px); background-size: 32px; max-width: 300px; } 
.section.guide .login-btn--wrap .btn:after { content: ">"; display: inline-block; color: #999; margin-left: 7px; font-weight: 200; } 
.section.guide .login-btn--wrap .btn:last-child { margin-right: 0; } 
.section.guide.type2 { height: auto; } 
.section.guide.type2 .tit { margin-top: 0; } 
@media (max-width: 660px){
  .section.guide { height: calc(100vh - 160px); } 
  .section.guide .tit { font-size: 2rem; margin: 40px 0 22px; } 
  .section.guide p { font-size: 1.6rem; } 
  .section.guide > .box { margin-top: 40px; font-size: 1.8rem; padding: 20px 60px; } 
  .section.guide > .box img { display: block; margin: 0 auto 5px; } 
  .section.guide .login-btn--wrap { width: 100%; } 
  .section.guide .login-btn--wrap .btn { width: 50%; height: 120px; } 
  .section.guide .login-btn--wrap .btn:only-child { max-width: 100%; } 
  .section.guide .btn-wrap { margin-top: 30px; } 
}

.section.mypage{ max-width: 800px; width: 100%}
.section.wheel{ max-width: 700px; width: 100%}

/* login */
.login-logo { width: 144px; height: 34px; background: url(../../images/logo.svg) no-repeat center/100%; margin: 0 auto 53px; } 
.login-menu .btn { color: #777; border-radius: 0; margin: 0 14px; position: relative; border-bottom: 1px solid #ccc; }
.login-menu .btn:last-child:after { display: none; } 
.login-btn { margin-top: 70px; } 
.login-btn .btn { width: 100%; height: 50px; border: 1px solid #ddd; border-radius: 50px; margin-bottom: 16px; font-size: 1.6rem; } 
.login-btn .btn .logo { margin-right: 8px; } 
.login-btn .btn .logo.kakao { background-image: url("../../images/icons/logo_kakao.svg"); background-repeat: no-repeat; background-position: center; width: 20px; height: 20px; } 
.login-btn .btn .logo.naver { background-image: url("../../images/icons/logo_naver.svg"); background-repeat: no-repeat; background-position: center; width: 20px; height: 20px; } 
.login-state { margin-top: 15px; } 

/* join */
.mypage .mypage-top{display: flex; flex-wrap: wrap; align-items: flex-start; justify-content: space-between;}
.mypage .mypage-box{width: 48%;}
.mypage .image-area {width: 100%; margin: 30px 0; box-shadow: 0 0 30px rgba(255, 141, 145, 0.3); border-radius: 8px; padding: 40px 30px; text-align: center; min-height: 250px; background: #fff; display: flex; align-items: center; justify-content: center;} 
.mypage .image-area::after{content: '\e09a'; font-size: 5rem; color: #ffa6aa; font-family: "Font Awesome 5 Free"; font-weight: 600;}

.mypage .mypage-box .tit { font-size: 2.3rem; margin: 20px 0 12px; font-weight: 700; } 
.mypage .mypage-box .text { margin-bottom: 40px; font-size: 1.6rem; color: #666; line-height: 1.5; font-weight: 400; } 
.mypage .profile .input-wrap input { text-align: center; letter-spacing: 10px; font-size: 1.6rem; } 
.mypage .profile .input-wrap input::-moz-placeholder { letter-spacing: 0; } 
.mypage .profile .input-wrap input::placeholder { letter-spacing: 0; } 
.mypage .mypage-bottom .input-wrap .btn{min-width: 100px;width: 100%;max-width: 200px;}

@media (max-width: 660px){
  .mypage .profile { margin: 24px 0 60px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.14); padding: 30px; } 
  .mypage .profile .tit { font-size: 2.1rem; } 
  .mypage .profile .text { font-size: 1.4rem; margin-bottom: 30px; } 
  .mypage .profile .input-wrap input { letter-spacing: 5px; color: #333; font-weight: 500; } 
}

/* join */
.join .agree .agree-tit { padding-bottom: 24px; position: relative; font-size: 1.6rem; font-weight: 700; padding-left: 15px; }
.join .agree .agree-tit::before{content: ''; width: 2px; height: 6px; background: #fda3a6; display: block; position: absolute; left: 0; top: 0; z-index: 1;}
.join .agree .agree-tit::after{content: ''; width: 2px; height: 18px; background: #FF646A; display: block; position: absolute; left: 0; top: 0;}
.join .agree .agree-tit .input-checkbox { position: absolute; right: 0; top: 0; } 
.join .agree .agree-tit .input-checkbox .text { color: #999; } 
.join .agree .agree-tit .input-checkbox input:checked ~ .text { color: #445b87; } 
.join .agree .agree-input {border-bottom: 1px solid #ddd; padding-bottom: 15px;} 

.join.complete { min-height: 500px; position: relative; display: flex; flex-direction: column; align-items: center; justify-content: center; font-size: 2rem; text-align: center; line-height: 1.5; } 
.join.complete .tit { font-size: 2.6rem; font-weight: 700; margin: 24px 0; line-height: 1.5; color: #333;} 
.join.complete p { font-size: 1.8rem; margin-bottom: 50px; color: #666; font-weight: 400; } 
.join.complete .btn-wrap { width: 300px; } 
.join.complete .btn-wrap .btn { margin: 0; } 
@media (max-width: 660px){
  .join.complete { font-size: 1.6rem; height: calc(100vh - 160px); } 
  .join.complete .icon-clap { width: 62px; height: 76px; background-size: 100%; } 
  .join.complete .tit { font-size: 2.6rem; margin: 17px 0; } 
  .join.complete p { font-size: 1.6rem; } 
}

/* loading */
.loading { position: relative; margin-bottom: 50px; } 
.loading .spinner { margin: calc(50% - 25px) auto; width: 96px; height: 96px; box-sizing: border-box; border: 8px solid #f5f6f8; border-top-color: #445b87; border-radius: 100%; transform: rotate(225deg); animation: spin 1s ease-in-out infinite; } 
@keyframes spin { 
  100% { transform: rotate(585deg); } 
}
.loading .percent { position: absolute; left: 50%; top: 50%; font-size: 2.2rem; font-weight: 400; color: #445b87; transform: translate(-50%, -50%); } 

.wait { font-size: 2.6rem; font-weight: 700; } 
.wait .txt-sm { font-size: 1.6rem; font-weight: 500; color: #999; margin-bottom: 10px; } 
.wait .name { color: #445b87; position: relative; } 
.wait .name:before { content: ""; display: block; width: calc(100% + 10px); height: 15px; background-color: #eff8ff; position: absolute; left: -5px; bottom: 0; } 
.wait .name span { position: relative; z-index: 1; } 
@media (max-width: 660px){
  .wait { font-size: 2rem; } 
}

.modal { position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: -1; display: flex; align-items: center; justify-content: center; opacity: 0; } 
.modal.show { z-index: 999; opacity: 1; transition: opacity 0.3s; } 
.modal-dim { position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.5); } 
.modal-tit { font-size: 2rem; line-height: 1.3; font-weight: 700; } 
.modal-con { position: relative; z-index: 1; background-color: #fff; width: auto; padding: 40px; border-radius: 10px; font-size: 1.8rem; max-width: 90%; } 
.modal-con .icon { margin: 0 auto 17px; } 
.modal-con.bottom { position: absolute; left: 50%; transform: translateX(-50%); bottom: 0; width: 100%; border-radius: 26px 26px 0 0; padding: 40px 20px 30px; max-width: 460px; } 
@media (max-width: 460px){
  .modal-con.bottom { transform: none; left: 0; } 
}
.modal-con--txt { line-height: 1.5; text-align: center; } 
.modal-con .btn-wrap { display: flex; justify-content: center; } 
.modal-con .btn-wrap .btn { padding: 0; flex: 1; max-width: 140px; } 

.scroll-box--tit { font-size: 1.4rem; font-weight: 600; margin: 20px 0; } 
.scroll-box pre { background-color: #f5f6f9; padding: 20px; height: 200px; overflow: auto; white-space: pre-wrap; word-break: keep-all; font-size: 1.3rem; line-height: 1.5; } 

.table-wrap table { margin-bottom: 1.5rem; font-size: 2rem; line-height: 1.3; white-space: nowrap; letter-spacing: -1px; } 
.table-wrap tbody tr { border-bottom: 1px solid #eee; } 
.table-wrap table thead th { padding: 10px 0; text-align: center; font-size: 1.6rem; color: #fff; line-height: 1.3; white-space: nowrap; letter-spacing: -1px; font-weight: 500; background: #FF979B; } 
.table-wrap table tbody tr{border-bottom: 1px solid #ffc4c6;}
.table-wrap table tbody tr td{border-right: 1px solid #ffc4c6;}
.table-wrap table tbody tr td a{display: block;}
.table-wrap table tbody tr td:last-child{border-right: 0;}
.table-wrap table tbody tr td.left{text-align: left;}
.table-wrap table tbody tr td.right{text-align: right;}
.table-wrap table tbody tr td.center{text-align: center;}
.table-wrap table td { padding: 10px 15px; font-size: 1.5rem; color: #333; line-height: 1.3; white-space: nowrap; letter-spacing: -1px; font-weight: 500;  text-align: center;} 
.table-wrap table tr.strong th, .table-wrap table tr.strong td { color: #4c81e6; font-weight: 900; } 

/* album */
.section.album-write{max-width: 800px; width: 100%}
.Acontainer{display: flex; flex-wrap: wrap; align-items: stretch; justify-content: space-between;}
.Acontainer li{padding: 2%; flex: 0 1 24%; display: flex; flex-direction: column; border: 1px solid #ffc8c8; box-shadow: 0 0 30px rgba(255, 141, 145, 0.3); }
.Acontainer li .imgdiv { border: 1px solid #ddd; width: 100%; min-height: 250px; }
.Acontainer li .album-util{display: flex; align-items: center; justify-content: space-between;}
.Acontainer li .album-util .gearbt{cursor: pointer;margin: 0; padding: 0; border: 0; background: nne;}
.Acontainer li .album-util .gearbt i{font-size: 1.3rem; color: #FF646A}
.Acontainer li .album-util .date {font-size: 1.7rem; text-align: right; margin: 10px 0; color: #FF646A;} 
.Acontainer li .album-memo{font-size: 1.5rem; color: #333; margin-top: 10px;}
@media (max-width: 660px){
  .Acontainer li{flex: 0 1 47%; margin-top: 4%;}
}

/* board */
.section.notice-write { max-width: 600px; width: 100% }

/* pagination */
.pagination{text-align: center; margin-top: 30px;}
.pagination button{cursor: pointer; background: none; border: 0; font-size: 1.2rem; font-weight: 500; color: #FF646A; border: 2px solid #FF646A; padding: 6px 10px; border-radius: 50%; display: inline-flex; align-items: center; width: 30px; height: 30px; text-align: center; justify-content: center; margin-right: 10px;}
.pagination button.active{background: #ff646a; color: #fff}
.pagination button.prev{background: url(../../images/icons/icon_prev.svg) no-repeat center center / contain; text-indent: -9999px; border: 0; background-size: 19px;}
.pagination button.next{background: url(../../images/icons/icon_next.svg) no-repeat center center / contain; text-indent: -9999px; border: 0; margin-right: 0; background-size: 19px;}

/* quiz */
.section.quiz{max-width: 600px; display: flex; flex-direction: column; width: 100%;}
.quiz-wrap{background: #fff; padding-bottom: 15px; box-shadow: 0 0 30px rgba(255, 141, 145, 0.3);border: 2px solid #FF646A; border-radius: 8px;  }
.question{padding: 24px;}
.answer-wrap{padding: 24px;background: #fff;border-top: 1px solid #FF646A;}
.answer-wrap label{color: #333; font-size: 1.7em;}
.answer-wrap textarea{resize: none; border-radius: 0; margin-top: 15px; border:1px solid #ddd; min-height: 140px;}
.answer-wrap .btn-wrap{justify-content: flex-end}
.answer-wrap .btn-wrap button{height: 40px; font-size: 1.4rem; padding: 0 15px; flex:0;}
.answer-list {display: flex; flex-direction: column; margin-top: 45px; min-height: 300px;}
.answer-list li{position: relative; padding-left: 10px;}
.answer-list li div p{ font-size: 1.7rem; border-radius: 25px; background: #ededed; display: inline-flex; flex: 0; align-items: center; padding: 0 30px; height: 45px; word-wrap: break-word;word-break: keep-all;}
.answer-list li:nth-child(even){align-self: flex-end; padding-right: 10px;text-align: right}
.answer-list li:nth-child(even) .answer-date{text-align: right;padding: 5px 0}
.answer-list li:nth-child(even)::before{right: 0; left: auto;}
.answer-list li + li{margin-top: 20px;}
.answer-date{font-size: 1.4rem; color: #777; padding: 5px 0; text-align: left}
.question .question-tit{font-size: 2.2rem; color: #333; font-weight: 600; display: flex; align-items: center;}
.question .question-tit .title-line{position: relative; font-size: 1.9rem; color: #FF646A; font-weight: 700; display: block; margin-right: 10px; padding-right: 10px;}
.question .question-tit .title-line::before{content: ''; width: 2px; height: 6px; background: #fda3a6; display: block; position: absolute; right: 0; top: 0; z-index: 1;}
.question .question-tit .title-line::after{content: ''; width: 2px; height: 18px; background: #FF646A; display: block; position: absolute; right: 0; top: 0;}
.answer-heart {background: none; cursor: pointer; border: 0; padding: 0; width: 2em; height: 2em; text-align: center; }
.svg-heart,.svg-heart2 {width: 2em; height: 2em; fill: rgb(238, 238, 238); stroke: #fff; stroke-width: 20; transform: rotate(225deg); }
.list-svg-heart { fill: none; stroke: #FF9EA2; stroke-width: 20; }
.quiz-complete{background: #fff;box-shadow: 0 0 30px rgba(255, 141, 145, 0.3);border: 2px solid #FF646A; border-radius: 8px;  }
.quiz-list li{position:relative;font-size: 1.9rem; flex: 1; display: flex; padding-top: 15px; }
.quiz-list li a{display: block;font-size: 1.8rem; position: relative; width: 100%; padding:0 30px 0 45px;}
.quiz-list li.complete::after{content:''; background: url("../../images/icons/list-heart.svg") no-repeat 0 0 / cover; position: absolute; right: 0; top: 15px; width: 20px; height: 20px;}
.quiz-list li .num{color: #FF646A;margin-right: 5px; position: absolute; left: 0; top: 0;}
.quiz-list li + li{margin-top: 15px; border-top: 1px solid #ededed;;}
.quiz-list{display: flex; flex-flow: wrap column; padding: 15px 25px 30px;}

#quizHeart, #quizHeart2 {color: #ddd;font-size: 1.5rem; cursor: pointer}
#quizHeart.red,#quizHeart2.red {color: #FF646A;}
@media (max-width: 660px){
    .question{padding:12px}
    .quiz-list li a{display: block;font-size: 1.5rem;}
    .question .question-tit{font-size: 1.6rem;}
    .question .question-tit .title-line{font-size: 1.4rem;min-width: 45px;}
    .question .question-tit .title-line::after{height: 14px; width: 1px}
    .question .question-tit .title-line::before{width: 1px}
    .question .question-tit .title-line{margin-right: 5px; padding-right: 5px}
    .answer-list li div p{font-size: 1.4rem; height: 40px}
}