<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
      name="viewport"
    />
    <title>Love Bridge</title>
    <link href="../css/reset.css" rel="stylesheet" type="text/css" />
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/style02.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script
      src="https://kit.fontawesome.com/5f0b667788.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scrollbar/8.5.2/smooth-scrollbar.js"></script>
    <script defer="defer" src="../js/include.js"></script>
  </head>

  <body>
    <header
      data-include-file="./include/header.html"
      class="header includeJs"
    ></header>
    <div class="container">
      <div class="section join">
        <div class="cen">
        
        <div class="cenTT"><img src="../images/logo_02.png" alt="" class="logo_02"></div>
        <div>
          <button class="sugi"><p>write</p></button>
        </div>
      </div>
      </div>

      <div class="Acontainer">
        <div class="item11">
          <div class="imgdiv"></div>
          <div>
            <p class="ptag">2024.07.04</p>
          </div>
          <div class="gear"><button class="gearbt" type="button"><i class="fa-solid fa-gear"></i></button></div>
        </div>

        <div class="item11">
          <div class="imgdiv"></div>
          <div>
            <p class="ptag">2024.07.04</p>
          </div>
          <div class="gear"><button class="gearbt" type="button"><i class="fa-solid fa-gear"></i></button></div>
        </div>

        <div class="item11">
          <div class="imgdiv"></div>
          <div>
            <p class="ptag">2024.07.04</p>
          </div>
          <div class="gear"><button class="gearbt" type="button"><i class="fa-solid fa-gear"></i></button></div>
        </div>

        <div class="item11">
          <div class="imgdiv"></div>
          <div>
            <p class="ptag">2024.07.04</p>
          </div>
          <div class="gear"><button class="gearbt" type="button"><i class="fa-solid fa-gear"></i></button></div>
        </div>

        <div class="item11">
          <div class="imgdiv"></div>
          <div>
            <p class="ptag">2024.07.04</p>
          </div>
          <div class="gear"><button class="gearbt" type="button"><i class="fa-solid fa-gear"></i></button></div>
        </div>

        <div class="item11">
          <div class="imgdiv"></div>
          <div>
            <p class="ptag">2024.07.04</p>
          </div>
          <div class="gear"><button class="gearbt" type="button"><i class="fa-solid fa-gear"></i></button></div>
        </div>

        <div class="item11">
          <div class="imgdiv"></div>
          <div>
            <p class="ptag">2024.07.04</p>
          </div>
          <div class="gear"><button class="gearbt" type="button"><i class="fa-solid fa-gear"></i></button></div>
        </div>

        <div class="item11">
          <div class="imgdiv"></div>
          <div>
            <p class="ptag">2024.07.04</p>
          </div>
          <div class="gear"><button class="gearbt" type="button"><i class="fa-solid fa-gear"></i></button></div>
        </div>

        <div class="item11">
          <div class="imgdiv"></div>
          <div>
            <p class="ptag">2024.07.04</p>
          </div>
          <div class="gear"><button class="gearbt" type="button"><i class="fa-solid fa-gear"></i></button></div>
        </div>

        <div class="item11">
          <div class="imgdiv"></div>
          <div>
            <p class="ptag">2024.07.04</p>
          </div>
          <div class="gear"><button class="gearbt" type="button"><i class="fa-solid fa-gear"></i></button></div>
        </div>

        <div class="item11">
          <div class="imgdiv"></div>
          <div>
            <p class="ptag">2024.07.04</p>
          </div>
          <div class="gear"><button class="gearbt" type="button"><i class="fa-solid fa-gear"></i></button></div>
        </div>

        <div class="item11">
          <div class="imgdiv"></div>
          <div>
            <p class="ptag">2024.07.04</p>
          </div>
          <div class="gear"><button class="gearbt" type="button"><i class="fa-solid fa-gear"></i></button></div>
        </div>

        <div class="item11">
          <div class="imgdiv"></div>
          <div>
            <p class="ptag">2024.07.04</p>
          </div>
          <div class="gear"><button class="gearbt" type="button"><i class="fa-solid fa-gear"></i></button></div>
        </div>

        <div class="item11">
          <div class="imgdiv"></div>
          <div>
            <p class="ptag">2024.07.04</p>
          </div>
          <div class="gear"><button class="gearbt" type="button"><i class="fa-solid fa-gear"></i></button></div>
        </div>

        <div class="item11">
          <div class="imgdiv"></div>
          <div>
            <p class="ptag">2024.07.04</p>
          </div>
          <div class="gear"><button class="gearbt" type="button"><i class="fa-solid fa-gear"></i></button></div>
        </div>

        <div class="item11">
          <div class="imgdiv"></div>
          <div>
            <p class="ptag">2024.07.04</p>
          </div>
          <div class="gear"><button class="gearbt" type="button"><i class="fa-solid fa-gear"></i></button></div>
        </div>
      </div>
      <div class="Bcontainer">
        <div>
          <button type="button" class="bt"><a href=""><</a></button>
          <button type="button" class="bt"><a href="">1</a></button>
          <button type="button" class="bt"><a href="">></a></button>
        </div>
        
      </div>
    </div>
    <footer
      data-include-file="./include/footer.html"
      class="footer includeJs"
    ></footer>

  </body>
  
</html>
