<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="html/include/head :: headerLayout"></th:block>


<body>
<header th:include="~{/html/include/header :: header}" class="header includeJs"></header>

<div class="container">
    <h1>파일 업로드 테스트</h1>


    <div class="container">
        <form action="" enctype="multipart/form-data" method="post">
            File : <input type="file" name="file">
            <input type="submit" value="upload">
        </form>
    </div>

</div>

<div th:replace="~{/html/include/footer :: footer}"></div>
</body>

</html>