<!DOCTYPE html>
<html lang="ko">
<meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    name="viewport" />

<head>
    <meta charset="UTF-8" />
    <title>test</title>
    <link href="../css/reset.css" rel="stylesheet" type="text/css" />
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet"
        type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scrollbar/8.5.2/smooth-scrollbar.js"></script>
</head>

<body>
    <header class="header">
        <div class="menu">
            <div class="bars"></div>
        </div>
        <nav>
            <h2><a href="#">Logo</a></h2>
            <div class="close">
                <div></div>
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section class="section main">
        <div class="heart-wrap">
            <p class="heart-click">CLICK</p>
            <svg xmlns="http://www.w3.org/2000/svg" id="heart" viewBox="0 0 24 24">
            <path d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
            </svg>
            <p id="message">&nbsp;</p>
        </div> 
    </section>
    <section class="section main">
        <ul class="text-wrap">
            <li><p class="main-text">LOVE BRIDGE<span>COUPLE'S DIARY</span></p></li>
            <li><p class="main-text">CALENDAR<span>ALBUM</span></p></li>
            <li><p class="main-text">CHATTING<span>MESSAGE</span></p></li>
            <li><p class="main-text">TIME CAPSULE<span><a href="https://stacksorted.com/text-effects/minh-pham" target="_blank">흠</a></span></p></li>
            <li><p class="main-text">Q&amp;A<span><a href="https://twitter.com/juxtopposed" target="_blank">LET'S CONNECT</a></span></p></li>
        </ul>
    </section>
    
    <footer class="footer">
        <div class="footer-wrap">
                <div class="copy">
                    Copyright©2024 러브릿지 All rights reserved
                </div>
           
        </div>
    </footer>

    <script src="../js/sakura.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            const open = document.querySelector('.menu');
            const close = document.querySelector('.close');
            var tl = gsap.timeline({ defaults: { duration: 0.7, ease: 'expo.inOut' } }); // duration을 0.6초로 변경

            open.addEventListener('click', () => {
                if (tl.reversed()) {
                    tl.play();
                } else {
                    tl.to('nav', { right: 0, duration: 0.5 }) // 각각의 애니메이션 스텝의 duration을 더 짧게 설정
                        .to('nav', { height: '100vh', duration: 0.5 }, '-=.1')
                        .to('nav ul li a', { opacity: 1, pointerEvents: 'all', stagger: 0.2 }, '-=.4') // stagger 값을 0.1로 줄임
                        .to('.close', { opacity: 1, pointerEvents: 'all', duration: 0.4 }, "-=.4") // duration을 0.3초로 변경
                        .to('nav h2', { opacity: 1, duration: 0.5 }, '-=0.6'); // duration을 0.4초로 변경
                }
            });

            close.addEventListener('click', () => {
                tl.reverse();
            });

            gsap.registerPlugin(ScrollTrigger);

            const textElements = gsap.utils.toArray('.main-text');

            textElements.forEach(text => {
                gsap.to(text, {
                    backgroundSize: '100%',
                    ease: 'none',
                    scrollTrigger: {
                    trigger: text,
                    start: 'center 90%',
                    end: 'center 90%',
                    scrub: true,
                    },
                });
            });

            const heart = document.getElementById('heart'); 
            const heartMsg = document.getElementById('message');
            const heartSwitch = function() {
                if(heart.classList.contains('on-heart')) {
                heart.classList.remove('on-heart');
                heart.classList.add('off-heart');
                heartMsg.textContent = ':(';
                heartMsg.classList.remove('show-message');
                setTimeout(() => {
                    heartMsg.classList.add('show-message');
                }, 10);
                } else {
                heart.classList.remove('off-heart');
                heart.classList.add('on-heart');
                heartMsg.textContent = ':)';
                heartMsg.classList.remove('show-message');
                setTimeout(() => {
                    heartMsg.classList.add('show-message');
                }, 10);
                }
            }

            heart.addEventListener('click', heartSwitch); 
        });

        var sakura = new Sakura('body', {
            colors: [
            {
                gradientColorStart: 'rgba(255, 183, 197, 0.9)',
                gradientColorEnd: 'rgba(255, 197, 208, 0.9)',
                gradientColorDegree: 120,
            },
            {
                gradientColorStart: 'rgba(255,189,189)',
                gradientColorEnd: 'rgba(227,170,181)',
                gradientColorDegree: 120,
            },
            {
                gradientColorStart: 'rgba(212,152,163)',
                gradientColorEnd: 'rgba(242,185,196)',
                gradientColorDegree: 120,
            },
            ],
            delay: 200
        });
    </script>
</body>

</html>