<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="html/header :: headerLayout"></th:block>
	<meta
		content="text/html;charset=utf-8"
		http-equiv="Content-Type"
	/>
	<meta content="IE=edge" http-equiv="X-UA-Compatible" />
	<meta
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
		name="viewport"
	/>
<!--	<head>-->
<!--		<meta charset="UTF-8" />-->
<!--		<meta content="text/html;charset=utf-8" http-equiv="Content-Type" />-->
<!--		<meta content="IE=edge" http-equiv="X-UA-Compatible" />-->
<!--		<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />-->
<!--		<title>Love Bridge</title>-->
<!--		<link href="../css/reset.css" rel="stylesheet" type="text/css" />-->
<!--		<link href="../css/style.css" rel="stylesheet" type="text/css" />-->
<!--		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet" type="text/css" />-->
<!--		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--		<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>-->
<!--		<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>-->
<!--		<script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scrollbar/8.5.2/smooth-scrollbar.js"></script>-->
<!--		<script defer="defer" src="../js/include.js"></script>-->
<!--	</head>-->
	<style>
		.justify-right{
			justify-content: flex-end;
			justify-items: right;
			float: right;
			width: 100%;
		}
	</style>
	<body>
	<header data-include-file="./include/header.html" class="header includeJs">
	</header>

		<div class="container">
			<div class="section guide type2">
				<div class="section-tit">
					관리자 페이지
				</div>

<!--				관리자 페이지 버튼-->
				<div class="d-flex mg-b--80">
					<div class="btn-wrap mg-r--20">
						<button type="button" class="btn btn-full btn-round btn-pink">
							유저 관리
						</button>

					</div>

					<div class="btn-wrap mg-r--20">
						<button type="button" class="btn btn-full btn-round btn-pink">
							공지사항 관리
						</button>
					</div>

					<div class="btn-wrap mg-r--20">
						<button type="button" class="btn btn-full btn-round btn-pink">
							게시판 관리
						</button>
					</div>

					<div class="btn-wrap mg-r--20">
						<button type="button" class="btn btn-full btn-round btn-pink">
							문의 게시판
						</button>
					</div>
				</div>

<!--				검색 버튼-->
				<div class="d-flex mg-t--40 justify-right mg-b--20">
					<button type="button" class="btn btn-lg btn-pink mg-r--20">
						검색
					</button>
					<div class="input-wrap center-item">
						<input
								type="text"
								class="input-text"
								placeholder="value"
						/>
					</div>
				</div>

<!--				테이블-->
				<div class="table-wrap justify-right">
					<table>
						<colgroup>
							<col width="10%" />
							<col width="30%" />
							<col width="50%" />
							<col width="50%" />
						</colgroup>

						<thead>
						<th>id</th>
						<th>이름</th>
						<th>이메일</th>
						<th>애칭</th>
						<th>등급</th>
						<th>시크릿 코드</th>
						<th>가입일</th>
						</thead>

						<tbody>
						<tr>
							<td>1</td>
							<td>임혁진</td>
							<td>혁진쨩@naver.com</td>
							<td>혁진쨩</td>
							<td>몰?루</td>
							<td>2023</td>
							<td>지★금</td>
						</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>
	<footer data-include-file="./include/footer.html" class="footer includeJs">
	</footer>
	</body>
</html>
