<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LOVE BRIDGE Dashboard</title>

    <!-- Custom fonts for this template-->
    <link   th:href="@{/vendor/fontawesome-free/css/all.min.css}"
            href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link
            th:href="@{/css/sb-admin-2.min.css}"
            href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <style>
        .input-table input{border:none;}
    </style>

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
            <div class="sidebar-brand-text mx-3">LOVE BRIDGE </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">



        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Components</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">관리 목록:</h6>
                    <a class="collapse-item" href="/admin/member">사용자 관리</a>
                    <a class="collapse-item" href="/admin/notice">공지사항 관리</a>
                    <a class="collapse-item" href="/admin/timecapsule">타임캡슐 관리</a>
                    <a class="collapse-item" href="/admin/album">앨범 관리</a>
                </div>
            </div>
        </li>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>



                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Admin</span>

                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400" ></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">회원 관리</h1>
                </div>
            </div>
            <!-- /.container-fluid -->

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">회원 정보</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>이메일</th>
                                <th>시크릿 코드</th>
                                <th>닉네임</th>
                                <th>권한</th>
                                <th>생일</th>
                                <th>성별</th>
                                <th>회원 수정/삭제</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>이메일</th>
                                <th>시크릿 코드</th>
                                <th>닉네임</th>
                                <th>권한</th>
                                <th>생일</th>
                                <th>성별</th>
                                <th>회원 수정/삭제</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="member : ${members}">
                                <td th:text="${member.id}"></td>
                                <td class="input-table"><input th:id="'member-email-'+${member.id}" type="text" th:value="${member.email}" readonly/></td>
                                <td class="input-table"><input th:id="'member-secretCode-'+${member.id}" type="text" th:value="${member.secretCode}" readonly/></td>
                                <td class="input-table"><input th:id="'member-nickname-'+${member.id}" type="text" th:value="${member.nickname}" readonly/></td>
                                <td class="input-table"><input th:id="'member-role-'+${member.id}" type="text" th:value="${member.role}" readonly/>61</td>
                                <td class="input-table"><input th:id="'member-birth-'+${member.id}" type="text" th:value="${member.birth}" readonly/></td>
                                <td class="input-table"><input th:id="'member-gender-'+${member.id}" type="text" th:value="${member.gender}" readonly/></td>
                                <td> <!-- 확인 버튼 -->
                                    <a class="btn btn-success btn-circle btn-sm" th:onclick="updateMemberInfo([[${member.id}]])" >
                                        <i class="fas fa-fw fa-check"></i>
                                    </a>

                                    <!-- 수정 버튼 -->
                                    <a class="btn btn-warning btn-circle btn-sm" th:onclick="inputEnable([[${member.id}]])" >
                                        <i class="fas fa-fw fa-cog" data-target="#editModal"></i>
                                    </a>

                                    <!-- 삭제 버튼 -->
                                    <a href="#" class="btn btn-danger btn-circle btn-sm" >
                                        <i class="fas fa-trash"></i>
                                    </a></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>




        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; 러브릿지 2024</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">로그아웃 하시겠습니까?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">"로그아웃" 버튼을 누르면 ㄹㅇ 찐으로 로그아웃 됩니다.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" onclick="Logout()">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"
        src="/vendor/jquery/jquery.min.js"></script>

<script
        th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"
        src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script
        th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"
        src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script
        th:src="@{/js/sb-admin-2.min.js}"
        src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"
        src="/vendor/datatables/jquery.dataTables.min.js"></script>

<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"
        src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script
        th:src="@{/js/demo/datatables-demo.js}"
        src="/js/demo/datatables-demo.js"></script>

<script>
    function Logout(){
        $.ajax({
            type: 'post',
            url: '/member/logout',
            dataType:'text',
            success: function(data){
                alert("로그아웃 됬습니다.");
                location.href='/';
            },
            error: function(){
                alert("누구 마음대로?");
                alert("짐은 로그아웃을 허락한 기억이 없노라.");
                alert("다시 돌아가거라!");
            }
        });
    }

    function inputEnable(targetId) {
        /*각 입력 태그들 쓰기 허용*/
        document.getElementById("member-email-" + targetId).readOnly = false;
        document.getElementById("member-secretCode-" + targetId).readOnly = false;
        document.getElementById("member-nickname-" + targetId).readOnly = false;
        document.getElementById("member-role-" + targetId).readOnly = false;
        document.getElementById("member-birth-" + targetId).readOnly = false;
        document.getElementById("member-gender-" + targetId).readOnly = false;
    }

    function inputDisable(targetId) {
        /*각 입력 태그들 쓰기 허용*/
        document.getElementById("member-email-" + targetId).readOnly = true;
        document.getElementById("member-secretCode-" + targetId).readOnly = true;
        document.getElementById("member-nickname-" + targetId).readOnly = true;
        document.getElementById("member-role-" + targetId).readOnly = true;
        document.getElementById("member-birth-" + targetId).readOnly = true;
        document.getElementById("member-gender-" + targetId).readOnly = true;
    }


</script>

<script>
    function updateMemberInfo(targetId) {
        $.ajax({
            type: 'post',
            url: '/admin/member/'+targetId,
            contentType: 'application/json',
            data: JSON.stringify({
                id : targetId,
                email : document.getElementById("member-email-" + targetId).value,
                secretCode : document.getElementById("member-secretCode-" + targetId).value,
                nickname : document.getElementById("member-nickname-" + targetId).value,
                role : document.getElementById("member-role-" + targetId).value,
                birth : document.getElementById("member-birth-" + targetId).value,
                gender : document.getElementById("member-gender-" + targetId).value
            }),
            success: function(){
                inputDisable(targetId);
                alert("변경됬습니다.");
            },
            error: function(){
                alert("응~ 변경 실패야~");
                alert("돌아가^^");
            }
        });
    }
</script>

</body>

</html>