<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="html/include/head :: headerLayout"></th:block>

<body>
<header th:include="~{/html/include/header :: header}" class="header includeJs"></header><header th:include="~{/html/include/header :: header}" class="header includeJs"></header>

	<div class="container">
		<section class="section mypage">
			<p class="section-tit">마이페이지</p>
			<form method="post" action="">

			<div class="mypage-bottom mg-t--40">
				<label class="input-label">내 시크릿 코드</label>
				<div class="input-wrap">
					<input type="text" readonly class="input-text" th:value="${member.secretCode}" id="mypage-secret"/>
				</div>

				<div style="display: flex; justify-content: end;">
				<button type="button" onclick="generateSecretCode('mypage-secret')" class="btn btn-lg btn-line btn-round type2" id="mypage-secretBtn">
					시크릿 코드 생성
				</button>
				<button type="button" onclick="modalEnable('mypage-inviteSecretCodeModal')" class="btn btn-lg btn-line btn-round type2" id="mypage-secretBtn2">
					시크릿 코드 초대
				</button>
				</div>

				<label class="input-label required">애칭</label>
				<div class="input-wrap">
					<input name="nickname" type="text" class="input-text"
						   th:value="${member.nickname}" readonly id="mypage-nickname"/>

					<button type="button" class="btn btn-lg btn-line btn-round type2"
							onclick="inputEnable('mypage-nickname')">
						애칭 변경
					</button>
				</div>
				<label class="input-label required">이메일</label>
				<div class="input-wrap">
					<input type="text" class="input-text"
						   th:value="${member.email}" readonly
						   name="email" id="mypage-email"/>

					<button type="button" class="btn btn-lg btn-line btn-round type2"
							onclick="inputEnable('mypage-email')">
						이메일 변경
					</button>
				</div>
				<div class="input-wrap mg-t--40 mg-b--20">
					<button type="button" class="btn btn-line btn-full type2 mg-l--0" onclick="modalEnable('mypage-passwordChangeModal')">
						비밀번호 변경
					</button>
				</div>
			</div>


			<div class="mg-t--30 mg-b--80 txt-right">
				<button type="button" class="btn txt-c--grey" onclick="location.href='user_secession.html'">회원 탈퇴
					하시겠습니까?</button>
			</div>
			<div class="btn-wrap type2 mg-t40">
				<button type="button" class="btn btn-half btn-line">
					취소
				</button>
				<button type="submit" class="btn btn-half type2 btn-pink">
					회원 정보 수정
				</button>
			</div>
			</form>
		</section>
	</div>

	<!-- 비밀번호 변경 버튼 누르면 뜨는 모달창-->
	<div class="modal" id="mypage-passwordChangeModal">
		<div class="modal-dim"></div>
		<div class="modal-con">
			<form method="post" action="/member/changePassword">
			<label class="type2">
				<label class="input-label required" >기존 비밀번호</label>
				<div class="input-wrap">
					<input type="password" name="oldPassword" id="mypage-oldPassword" oninput="pwCheck()" class="input-text" />
				</div>

				<label class="input-label required">새로운 비밀번호</label>
				<div class="input-wrap">
					<input type="password" name="newPassword" id="mypage-newPassword" class="input-text" oninput="pwCheck()" />
				</div>
				<div class="input-guide" id="mypage-pwdConfirm">
				</div>

				<label class="input-label required">비밀번호 재입력</label>
				<div class="input-wrap">
					<input type="password" id="mypage-newPasswordConfirm" name="passwordConfirm" class="input-text"  oninput="pwCheck()" />
				</div>
			</label>

			<div class="btn-wrap">
				<button type="submit" class="btn btn-full btn-primary btn-round" >
					비밀번호 변경
				</button>
			</div>
			</form>
		</div>
	</div>


<div class="modal" id="mypage-inviteSecretCodeModal">
	<div class="modal-dim"></div>
	<div class="modal-con">
			<label class="type2">
				<label class="input-label required" >파트너 이메일</label>
				<div class="input-wrap">
					<input type="email" name="partnerEmail" id="mypage-partnerEmail" class="input-text" />
				</div>
			</label>

			<div class="btn-wrap">
				<button type="button" class="btn btn-full btn-primary btn-round"
				onclick="inviteSecretCode('mypage-partnerEmail')">
					시크릿 코드 초대
				</button>
			</div>
	</div>
</div>


<div th:replace="~{/html/include/footer :: footer}"></div>
<script>
	const localAutoHyphen = (target) => {
		target.value = target.value
				.replace(/[^0-9]/g, '')
				.replace(/^(\d{2,4})(\d{1,2})(\d{1,2})$/, `$1-$2-$3`);
	}

	const phoneAutoHyphen = (target) => {
		target.value = target.value
				.replace(/[^0-9]/g, '')
				.replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3").replace(/(\-{1,2})$/g, "");
	}

	function inputEnable(targetId){
		document.getElementById(targetId).readOnly=false;
	}

	function secretCodeButtonDisplay(){
		const secretCode = document.getElementById("mypage-secret").value;

		if(secretCode.length>0){
			console.log(secretCode.length>0);
			document.getElementById("mypage-secretBtn").style.display='none';
			document.getElementById("mypage-secretBtn2").style.display='block';
		} else {
			document.getElementById("mypage-secretBtn").style.display='block';
			document.getElementById("mypage-secretBtn2").style.display='none';
		}
	}

	function modalEnable(targetId){
		document.getElementById(targetId).className += ' show';
	}

	function modalDisable(targetId){
		document.getElementById(targetId).className = document
														.getElementById(targetId)
														.className.replace('show', '');
	}

	function pwCheck(){
		if($('#mypage-newPassword').val() === '' || $('#mypage-newPasswordConfirm').val() === ''){
			$('#mypage-pwdConfirm').text('비밀번호를 입력해 주세요.').css('color', 'red')
		} else if($('#mypage-newPassword').val() === $('#mypage-newPasswordConfirm').val()){
			$('#mypage-pwdConfirm').text('비밀번호가 일치합니다.').css('color', 'green')
		} else{
			$('#mypage-pwdConfirm').text('비밀번호가 일치하지 않습니다.').css('color', 'red')
		}
	}

	function generateSecretCode(target){
		$.ajax({
			url : "/member/secretCode",
			type : "post",
			success : function(result) {
				console.log(result.code);
				document.getElementById(target).value=result.code;
				secretCodeButtonDisplay();
			}
		});
	}

	function inviteSecretCode(targetEmail){
		const email = document.getElementById(targetEmail).value;
		console.log("email : " + email);
		const data = {
			"email" : email
		};

		$.ajax({
			url : "/member/secretCode/invite",
			type : "post",
			contentType : "application/json",
			data :JSON.stringify(data),
			success : function(result) {
				if(result){
					alert("시크릿 코드가 초대됬습니다.");
				} else{
					alert("이메일을 확인해 주세요.");
				}

			}
		});

		modalDisable('mypage-inviteSecretCodeModal');
	}

	secretCodeButtonDisplay();
</script>
</body>

</html>