.GameWrap {
    background: #ffefef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 50px;
}
.Fimg{
    max-width: 170px; width: 100%
}
.Ming{
    max-width: 170px; width: 100%
}
.GameDisPlay {
    flex: 1;
    background-color: skyblue;
    position: relative;
    border-radius: 8px;
}

.GameUI {
    width: 20%;
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
}

.Dday, .Names, .FName, .MName, .Time {
    border-radius: 8px;
    background-color: #fff;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    font-size: 20px;
    border:1px solid #FF979B;
    min-height:80px;
}
.Names button{
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.weather {
    display: flex;
    align-items: center;
    justify-content: center;
}
.weather div {
    margin: 0 -50px;
}

.weather div {
    padding-left: 50px;
}

.weather div:nth-child(2) {
    padding-left: 85px;
}

.weather div:nth-child(4) {
    padding-left: 120px;
}

.weather img {
    width: 100%;
    max-width: 250px;
    animation: tilt 2s infinite;
}

@keyframes tilt {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(10deg);
    }
}

.weather div:nth-child(even) img {
    animation: tiltLeft 2s infinite;
}

@keyframes tiltLeft {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-10deg);
    }
}

.attendancetransfer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 50px;
}
.attendancetransfer li p{font-size: 1.9rem; color: #333; margin-top: 25px; font-weight: 600; color: #333; text-align: center}

.attendacetransferButton {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    background: #ececec;
    box-shadow: 0 10px 0 #ccc;
    border: 0;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in;
}
.attendacetransferButton:active {
    background: #FF646A;
    box-shadow: #fff 0 5px 0 0;
    transform: translateY(10px);
}

.game-heart-btn {
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    background: #ddd;
    top: 5px;
    position: relative;
    display: flex;
    transition: 0.1s ease-in;
}
.attendacetransferButton:hover > .game-heart-btn {
    background: #FF646A;
}
.attendacetransferButton:active > .game-heart-btn {
    background: white;
}
.game-heart-btn::before,
.game-heart-btn::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: inherit;
    position: absolute;
}
.game-heart-btn::before {
    left: -50%;
}
.game-heart-btn::after {
    top: -50%;
}


.attendanceBtnBody {
    width: 100%; max-width: 150px
}

@keyframes pulsate {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}


@keyframes grow {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}


.MovingLayout {
    display: flex;
    justify-content: space-between;
    position: relative;
    background: url(/../images/img/Game/bridge.png) no-repeat 0 0 / cover;
    min-height: 200px;
    margin-top: 130px;
}
.character{
    position: absolute;
    top: -130px;
    left: 0;
}

/*.character {*/
/*    position: absolute;*/
/*    bottom: 50px;*/
/*}*/

#F_character {
    left: 0;
}

#M_character {
    right: 0;
    left: initial;
}

/*.character {*/
/*    display: inline-block;*/
/*    overflow: hidden;*/
/*}*/

.character img {
    display: block;
    animation: shake 2s infinite;
}

/* 애니메이션 정의 */
@keyframes shake {
    0% { transform: translateX(0); }
    50% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

.CroundInLeft {
    width: 100%; max-width: 300px
}
.SunImg{
    width: 100%; max-width: 300px
}
.CroundInRight1 {
    width: 100%; max-width: 300px
}
.CroundInRight2{
    width: 100%; max-width: 300px
}

/* 해상도 관련 사이즈 미디어 쿼리 */
@media screen and (min-width: 1500px) {

    .attendanceBtnBody {
        width: 100%; max-width: 200px
    }





    .CroundInLeft {
        width: 100%; max-width: 100px
    }
    .SunImg{
        width: 100%; max-width: 100px
    }
    .CroundInRight1 {
        width: 100%; max-width: 100px
    }
    .CroundInRight2{
        width: 100%; max-width: 100px
    }
}

@media screen and (max-width: 1500px) {


    .attendanceBtnBody {
        width: 100%; max-width: 50px
    }




    .CroundInLeft {
        width: 100%; max-width: 100px
    }
    .SunImg{
        width: 100%; max-width: 100px
    }
    .CroundInRight1 {
        width: 100%; max-width: 100px
    }
    .CroundInRight2{
        width: 100%; max-width: 100px
    }
}

@media (max-width: 660px){}
