
.GameWrap {
    background: #ffefef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 50px;
}
.modal-body{text-align: center;padding: 20px 10px;}
.modal-body h3{font-size: 18px; font-weight: 600}
.modal-body p{font-size: 16px}
.modal-body .btn-pink.btn-board{
    border-radius: 8px;
    color: #fff !important;
    margin: 0;
    line-height: 1.58;
    height: auto;
}
.Fimg{
    max-width: 170px; width: 100%;
}
.Ming{
    max-width: 170px; width: 100%
}

.F_heartDisplay {
    display: none;
}

.M_heartDisplay {
    display: none;
}

.HeartImg{
    max-width: 170px;
    width: 100%;
    position: absolute;
    margin-top: -130px;
}
.GameDisPlay {
    flex: 1;
    background-color: skyblue;
    position: relative;
    border-radius: 8px;
}

.GameUI {
    width: 20%;
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
}

.Dday, .Names, .FName, .MName, .Time {
    border-radius: 8px;
    background-color: #fff;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    font-size: 20px;
    border:1px solid #FF979B;
    min-height:80px;
}
.Names button{
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.weather {
    display: flex;
    align-items: center;
    justify-content: center;
}
.weather div {
    margin: 0;
}

.weather div {
    padding-left: 50px;
}

.weather div:nth-child(2) {
    padding-left: 85px;
}

.weather div:nth-child(4) {
    padding-left: 120px;
}

.weather img {
    width: 100%;
    max-width: 250px;
    animation: tilt 2s infinite;
}

@keyframes tilt {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(10deg);
    }
}

.weather div:nth-child(even) img {
    animation: tiltLeft 2s infinite;
}

@keyframes tiltLeft {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-10deg);
    }
}

.attendancetransfer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 50px;
}
.attendancetransfer li p{font-size: 1.9rem; color: #333; margin-top: 25px; font-weight: 600; color: #333; text-align: center}

.attendacetransferButton {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    background: #ececec;
    box-shadow: 0 10px 0 #ccc;
    border: 0;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in;
}
.attendacetransferButton:active {
    background: #FF646A;
    box-shadow: #fff 0 5px 0 0;
    transform: translateY(10px);
}

.game-heart-btn {
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    background: #ddd;
    top: 5px;
    position: relative;
    display: flex;
    transition: 0.1s ease-in;
}
.attendacetransferButton:hover > .game-heart-btn {
    background: #FF646A;
}
.attendacetransferButton:active > .game-heart-btn {
    background: white;
}
.game-heart-btn::before,
.game-heart-btn::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: inherit;
    position: absolute;
}
.game-heart-btn::before {
    left: -50%;
}
.game-heart-btn::after {
    top: -50%;
}


.attendanceBtnBody {
    width: 100%; max-width: 150px
}

@keyframes pulsate {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}


@keyframes grow {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}


.MovingLayout {
    display: flex;
    justify-content: space-between;
    position: relative;
    background: url(/../images/img/Game/bridge.png) no-repeat 0 0 / cover;
    min-height: 200px;
    margin-top: 130px;
}

.F_characterCSS{
    position: absolute;
    top: -130px;
    left: 0;
}

.M_characterCSS{
    position: absolute;
    top: -130px;
    left: 0;
}

/*.character {*/
/*    position: absolute;*/
/*    bottom: 50px;*/
/*}*/

#F_character {
    right: initial;
    display: flex;
}

#M_character {
    left: initial;
    display: flex;
}

/*.character {*/
/*    display: inline-block;*/
/*    overflow: hidden;*/
/*}*/

.character img {
    display: block;
    animation: shake 2s infinite;
}

/* 애니메이션 정의 */
@keyframes shake {
    0% { transform: translateX(0); }
    50% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

.CroundInLeft {
    width: 100%; max-width: 300px
}
.SunImg{
    width: 100%; max-width: 300px
}
.CroundInRight1 {
    width: 100%; max-width: 300px
}
.CroundInRight2{
    width: 100%; max-width: 300px
}

/* 해상도 관련 사이즈 미디어 쿼리 */
@media screen and (min-width: 1500px) {

    .attendanceBtnBody {
        width: 100%; max-width: 200px
    }





    .CroundInLeft {
        width: 100%; max-width: 100px
    }
    .SunImg{
        width: 100%; max-width: 100px
    }
    .CroundInRight1 {
        width: 100%; max-width: 100px
    }
    .CroundInRight2{
        width: 100%; max-width: 100px
    }
}

@media screen and (max-width: 1500px) {


    .attendanceBtnBody {
        width: 100%; max-width: 50px
    }




    .CroundInLeft {
        width: 100%; max-width: 100px
    }
    .SunImg{
        width: 100%; max-width: 100px
    }
    .CroundInRight1 {
        width: 100%; max-width: 100px
    }
    .CroundInRight2{
        width: 100%; max-width: 100px
    }
}


.modal {
    z-index: 1050;
}
.modal-backdrop {
    z-index: 0;
}


.custom-modal {
    z-index: 1005;
}
.custom-backdrop {
    z-index: 1000;
}

#DescriptionCloseButton {
    text-decoration: none;
    color: inherit;
}
#DescriptionCloseButton:hover {
    text-decoration: none;
    color: inherit;
}

input::placeholder {
    font-size: 15px;
    text-align: center;
}

.hidden {
    display: none;
}

.result-list {
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-size: 30px;
    width: 100%;
    max-width: 150px;
    max-height: 100%;
    border-radius: 15px;
    align-items: center;
    border: 1px solid #FF979B;
    padding: 10px;
}

.result-list .title {
    border-radius: 50%;
    background-color: #FF979B;
    color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
    text-align: center;
}
.result-list .title p{
    font-size: 20px;
    margin-bottom: 0;
}
.result-list .mission {
    font-size: 23px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #FF979B;
    padding-bottom: 5px;
    margin: 5px 0;
}

/*.result-item {*/
/*    padding: 10px;*/
/*    background-color: pink;*/
/*    margin-bottom: 5px;*/
/*    font-size: 18px;*/
/*    border-radius: 15px;*/
/*}*/

.WantTop {
    border-radius: 15px;
}

.modal-dialog {
    border-radius: 8px;
    background-color: #fff;
    align-items: center;
    border: 1px solid #FF979B;
    width: 100%;
}

.WantWhichInput {
    border-radius: 8px;
    background-color: #fff;
    align-items: center;
    border: 1px solid #FF979B;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: none;
}

@media (max-width: 768px){
    .weather{
        justify-content: space-between;
    }
    .weather div:nth-child(2){
        padding: 0;
    }
    .weather div {
        padding-left: 0;
    }

    .weather img{
        max-width: 100px;
    }
    .Ming,.Fimg{
        max-width: 90px;
    }
    .MovingLayout {
        min-height: 24%;
        margin-top: 20%;
    }
    .attendacetransferButton{
        width: 50px;
        height: 50px;
    }
    .game-heart-btn {
        width: 20px;
        height: 20px;
    }
    .attendancetransfer li p{
        font-size: 1.3rem;
        margin-top: 10px;
    }
    .result-list .title{
        padding: 5px 10px;
        margin-bottom: 5px;
    }
    .result-list .title p{
        font-size: 12px;
        margin-top: 0;
    }
    .F_characterCSS,.M_characterCSS{
        top: -90%;
    }
    .GameWrap{
        padding: 0 5px;
        flex-direction: column;
    }
    .GameDisPlay{
        flex: 0;
        padding-bottom: 20%;
        width: 100%;

    }
    .GameUI{
        flex-direction: row;
        width: 100%;
    }
    .result-list{
        margin-top: 0;
        max-width: 100px;
        padding: 5px;
    }
    .result-list .mission{
        font-size: 15px;
        margin: 3px 0;
    }
    .attendancetransfer{
        padding: 10px 25px;
        margin: 30px 0 0;
    }
    .Dday, .Names, .FName, .MName, .Time{
        min-height: 65px;
        font-size: 13px;
        margin: 15px 3px;
        padding: 0 10px;
    }
    .Dday, .Names button, .FName p, .MName p, .Time{
        font-size: 13px;
        margin: 0;

    }
    .weather div:nth-child(4){
        display: none;
    }
    .modal-open .modal{
        padding: 0 10px;
    }
    .modal.show .modal-dialog{
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
