body {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.GameDisPlay {
    border-radius: 25px;
    width: 1400px;
    height: 800px;
    margin: 20px;
    background-color: skyblue;
    position: relative;
}

.GameUI {
    width: 500px;
    height: 800px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Dday, .Names, .FName, .MName, .Time {
    border-radius: 15px;
    background-color: white;
    width: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    font-size: 25px;
}

.Dday { height: 120px; }
.Names { height: 80px; }
.FName, .MName { height: 220px; }
.Time { height: 100px; }

.weather {
    display: flex;
    align-items: center;
    justify-content: center;
}
.weather div {
    margin: 0 -50px;
}

.weather div {
    padding-left: 50px;
}

.weather div:nth-child(2) {
    padding-left: 85px;
}

.weather div:nth-child(4) {
    padding-left: 120px;
}

.weather img {
    width: 100%;
    max-width: 300px;
    animation: tilt 2s infinite;
}

@keyframes tilt {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(10deg);
    }
}

.weather div:nth-child(even) img {
    animation: tiltLeft 2s infinite;
}

@keyframes tiltLeft {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-10deg);
    }
}

.attendancetransfer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 20vh;
    align-items: center;
}

.attendacetransferButton {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    margin-top: auto;
    margin-bottom: 20px;
    animation: pulsate 2s infinite;
}

.attendanceBtnBody {
    width: 100%; max-width: 150px
}

@keyframes pulsate {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.attendacetransferButton:active {
    animation: grow 0.2s forwards;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

.BridgeLayout {
    width: 1400px;
    height: 50px;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.MovingLayout {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 300px;
}

.character {
    position: absolute;
    bottom: 50px;
}

#F_character {
    left: 0;
}

#M_character {
    right: 0;
}

.character {
    display: inline-block;
    overflow: hidden;
}

.character img {
    display: block;
    animation: shake 2s infinite;
}

/* 애니메이션 정의 */
@keyframes shake {
    0% { transform: translateX(0); }
    50% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

.CroundInLeft {
    width: 100%; max-width: 300px
}
.SunImg{
    width: 100%; max-width: 300px
}
.CroundInRight1 {
    width: 100%; max-width: 300px
}
.CroundInRight2{
    width: 100%; max-width: 300px
}

/* 해상도 관련 사이즈 미디어 쿼리 */
@media screen and (min-width: 1500px) {
    .GameDisPlay {
        border-radius: 25px;
        width: 100%;
        height: 90%;
        background-color: skyblue;
        position: relative;
    }

    .GameUI {
        width: 200px;
        height: 80%;
        margin-left: 100px;
        margin-right: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .BridgeLayout {
        width: 100%;
        height: 10px;
        align-content: center;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .attendanceBtnBody {
        width: 100%; max-width: 200px
    }

    .Dday {
        height: 220px;
        width: 300px;
    }
    .Names {
        height: 150px;
        width: 300px;
    }
    .FName, .MName {
        height: 220px;
        width: 300px;
    }
    .Time {
        height: 150px;
        width: 300px;
    }

    .character {
        position: absolute;
        bottom: 50px;
    }

    .Fimg{
        max-width: 100px; width: 100%
    }
    .Ming{
        max-width: 100px; width: 100%
    }

    .CroundInLeft {
        width: 100%; max-width: 100px
    }
    .SunImg{
        width: 100%; max-width: 100px
    }
    .CroundInRight1 {
        width: 100%; max-width: 100px
    }
    .CroundInRight2{
        width: 100%; max-width: 100px
    }
}

@media screen and (max-width: 1500px) {

    .GameDisPlay {
        border-radius: 25px;
        width: 100%;
        height: 90%;
        background-color: skyblue;
        position: relative;
    }

    .GameUI {
        width: 200px;
        height: 80%;
        margin-left: 100px;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .BridgeLayout {
        width: 100%;
        height: 10px;
        align-content: center;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .attendanceBtnBody {
        width: 100%; max-width: 50px
    }

    .Dday {
        height: 220px;
        width: 220px;
    }
    .Names {
        height: 150px;
        width: 220px;
    }
    .FName, .MName {
        height: 220px;
        width: 220px;
    }
    .Time {
        height: 150px;
        width: 220px;
    }

    .character {
        position: absolute;
        bottom: 50px;
    }

    .Fimg{
        max-width: 50px; width: 100%
    }
    .Ming{
        max-width: 50px; width: 100%
    }

    .CroundInLeft {
        width: 100%; max-width: 100px
    }
    .SunImg{
        width: 100%; max-width: 100px
    }
    .CroundInRight1 {
        width: 100%; max-width: 100px
    }
    .CroundInRight2{
        width: 100%; max-width: 100px
    }
}
