<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jolipjo.lovebridge.domain.album.dao.AlbumMapper">


<!--    데이터를 가져올때  resultMap  -->
    <!--      데이터를 저장  prarmeterMap     -->
    <resultMap id="AlbumResultMap" type="com.jolipjo.lovebridge.domain.album.dto.AlbumWriteRequestDTO">
        <id property="id" column="id"/>
        <result property="memberId" column="memberId" />
        <result property="image" column="pictureLink"/>
        <result property="memo" column="message"/>
        <result property="date" column="date"/>
    </resultMap>

    <resultMap id="AlbumModifyResultMap" type="com.jolipjo.lovebridge.domain.album.dto.AlbumModifyRequestDTO">
        <id property="id" column="id"/>
        <result property="memberId" column="memberId" />
        <result property="image" column="pictureLink"/>
        <result property="memo" column="message"/>
        <result property="date" column="date"/>
    </resultMap>



    <parameterMap id="AlbumWriteRequestDTO" type="com.jolipjo.lovebridge.domain.album.dto.AlbumWriteRequestDTO">
        <parameter property="id" />
        <parameter property="memberId" />
        <parameter property="image" />
        <parameter property="memo" />
        <parameter property="date" />
    </parameterMap>


<!--  리스트 화면 불러오기  -->
    <select id="albumListPage" parameterType="long" resultMap="AlbumResultMap">
        SELECT
               pictureLink
              ,message
              ,date
              ,id
          FROM
               album
            WHERE memberId = #{ memberId }
    </select>

<!--  앨범 작성 하기  -->
    <insert id="albumWrite" parameterMap="AlbumWriteRequestDTO">
        INSERT INTO album
        (
               pictureLink
              ,message
              ,date
              ,memberId
        )
        VALUES
        (
               #{ image }
              ,#{ memo }
              ,#{ date }
              ,#{ memberId }
        )
    </insert>

<!--SQL WHERE문 공부!-->
    <select id="albumModifyLoad" resultMap="AlbumModifyResultMap">
        SELECT
               id
              ,pictureLink
              ,message
              ,date
          FROM
               album
         WHERE
               id = #{ memberId }
    </select>

    <update id="albumModifySend" parameterType="com.jolipjo.lovebridge.domain.album.dto.AlbumModifyResponseDTO">
        UPDATE
              album
           SET
              pictureLink = #{image}
             ,message = #{memo}
             ,date = #{date}
         WHERE
              id = #{ id }
    </update>

<!-- 삭제   -->
    <delete id="albumDelete" parameterType="com.jolipjo.lovebridge.domain.album.dto.AlbumDeleteDTO">
        DELETE FROM
                    album
        WHERE
                id = #{ id }
    </delete>
</mapper>
