<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jolipjo.lovebridge.domain.Game.DAO.GameMapper">

    <resultMap id="MiniGameDto" type="com.jolipjo.lovebridge.domain.Game.DTO.MiniGameDto">
        <id property="id" column="id"/>
        <result property="memberId" column="memberId" />
        <result property="attendCnt" column="attendCnt"/>
        <result property="date" column="date"/>
        <result property="mission" column="mission"/>
    </resultMap>

    <select id="findAllByMe" resultMap="MiniGameDto" parameterType="java.lang.Long">
        SELECT
        id,
        memberId,
        attendCnt,
        date,
        mission
        FROM
        miniGame
        WHERE
        memberId = #{id}
    </select>

    <select id="findAllByPartner" resultMap="MiniGameDto" parameterType="java.lang.Long">
        SELECT
        id,
        memberId,
        attendCnt,
        date,
        mission
        FROM
        miniGame
        WHERE
        memberId = #{secretId}
    </select>

    <insert id="insertMission" parameterType="java.util.Map">
        INSERT INTO miniGame
        (
        mission,
        memberId,
        attendCnt
        )
        VALUES
        (
        #{mission},
        #{memberId},
        0
        )
    </insert>

    <update id="updateMission" parameterType="java.util.Map">
        UPDATE miniGame
        SET mission = #{mission}
        WHERE memberId = #{memberId}
    </update>

    <delete id="deleteMission" parameterType="java.util.Map">
        DELETE FROM miniGame
        WHERE
        mission = #{mission}
        AND
        memberId = #{memberId}
    </delete>

    <insert id="insertAttendance" parameterType="java.util.Map">
        INSERT INTO miniGame
        (
        attendCnt,
        memberId
        )
        VALUES
        (
        #{attendCnt},
        #{memberId}
        )
    </insert>

    <update id="updateAttendance" parameterType="java.util.Map">
        UPDATE miniGame
        SET attendCnt = #{attendCnt}
        WHERE memberId = #{memberId}
    </update>

    <update id="deleteAttendance" parameterType="java.util.Map">
        UPDATE miniGame
        SET attendCnt = 0, mission = ''
        WHERE memberId = #{memberId}
        AND attendCnt = 30
    </update>



</mapper>