<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jolipjo.lovebridge.domain.member.dao.MemberMapper">


<!--    ================= 파라미터 ==================== -->
    <parameterMap id="Member" type="com.jolipjo.lovebridge.domain.member.entity.Member">
        <parameter property="email"/>
        <parameter property="password"/>
        <parameter property="nickname"/>
        <parameter property="birth"/>
        <parameter property="gender"/>
        <parameter property="marketingAgree"/>
    </parameterMap>


    <parameterMap id="SecretCode" type="com.jolipjo.lovebridge.domain.member.entity.SecretCode">
        <parameter property="id"/>
        <parameter property="code"/>
        <parameter property="count"/>
    </parameterMap>

    <parameterMap id="AddSecretCodeUserDTO" type="com.jolipjo.lovebridge.domain.member.dto.AddSecretCodeUserDTO">
        <parameter property="secretCodeId"/>
        <parameter property="memberId"/>
    </parameterMap>

    <parameterMap id="MypageRequestDTO" type="com.jolipjo.lovebridge.domain.member.dto.MypageRequestDTO">
        <parameter property="id"/>
        <parameter property="nickname"/>
        <parameter property="email"/>
    </parameterMap>

    <parameterMap id="ChangePasswordRequestDTO" type="com.jolipjo.lovebridge.domain.member.dto.ChangePasswordRequestDTO">
        <parameter property="id"/>
        <parameter property="oldPassword"/>
        <parameter property="newPassword"/>
    </parameterMap>


    <!--    ================= 반환값 ==================== -->
    <resultMap id="SecretCode" type="com.jolipjo.lovebridge.domain.member.entity.SecretCode">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="count" property="count"/>
    </resultMap>

    <resultMap id="Member" type="com.jolipjo.lovebridge.domain.member.entity.Member">
        <id column="id" property="id"/>
        <result column="secretId" property="secretId"/>
        <result column="email" property="email"/>
        <result column="nickname" property="nickname"/>
        <result column="password" property="password"/>
        <result column="role" property="role"/>
        <result column="birth" property="birth"/>
        <result column="gender" property="gender"/>
    </resultMap>

    <resultMap id="MypageResponseDTO" type="com.jolipjo.lovebridge.domain.member.dto.MypageResponseDTO">
        <result column="code" property="secretCode"/>
        <result column="nickname" property="nickname"/>
        <result column="email" property="email"/>
    </resultMap>



<!--    회원가입-->
    <insert id="join" parameterMap="Member" useGeneratedKeys="true">
        INSERT INTO member
        (
            email,
            nickname,
            password,
            role,
            birth,
            gender
        )
        VALUES
        (
            #{email},
            #{nickname},
            #{password},
            #{role},
            #{birth},
            #{gender}
        )
    </insert>

<!--    시크릿 코드 생성-->
    <insert id="createSecretCode" parameterMap="SecretCode" useGeneratedKeys="true">
        INSERT INTO secret_code
        (
            code,
            count
        )
        VALUES
        (
            #{code},
            #{count}
        )
    </insert>

    <select id="findSecretByCode" parameterType="string" resultMap="SecretCode">
        SELECT
            id,
            code,
            count
        FROM
            secret_code
        WHERE
            code = #{code}
    </select>

    <update id="addSecretCodeUser" parameterMap="AddSecretCodeUserDTO">
        UPDATE
            member
        SET
            secretId = #{secretCodeId}
        WHERE
            id = #{memberId}
    </update>

<!--    사용자 ID로 시크릿 코드 정보 추출-->
    <select id="findSecretCodeByMemberId" parameterType="long" resultMap="SecretCode">
        SELECT
            a.id,
            a.code,
            a.count
        FROM
            secret_code a
        JOIN
            member b
        ON
            a.id = b.secretId
        WHERE
            b.id = #{memberId}
    </select>

<!--    시크릿코드 id와 연결된 사용자 검색-->
    <select id="findMembersBySecretCode" parameterType="long" resultType="long">
        SELECT
            id
        FROM
            member
        WHERE
            secretId = #{secretCodeId}
        ORDER BY
            id asc;
    </select>

<!--    나와 시크릿코드로 연결된 다른 사용자 검색-->
    <select id="findMyPartner" parameterType="long" resultType="long">
        SELECT
            id
        FROM
            member
        WHERE
            id != #{memberId}
        AND
            secretId
        IN
            (
            SELECT
                secretId
            FROM
                member
            WHERE
                id = #{memberId}
            )
    </select>

    <select id="findByEmail" parameterType="String" resultMap="Member">
        SELECT
            id,
            secretId,
            email,
            nickname,
            password,
            role,
            birth,
            gender
        FROM
            member
        WHERE
            email = #{email}
    </select>

    <select id="getMypageInfo" parameterType="Long" resultMap="MypageResponseDTO">
        SELECT
            b.code,
            a.nickname,
            a.email
        FROM
            member a
        LEFT JOIN
            secret_code b
        ON
            b.id = a.secretId
        WHERE
            a.id = #{memberId}
    </select>

    <update id="UpdateMemberInfo" parameterMap="MypageRequestDTO">
        UPDATE
            member
        SET
            nickname = #{nickname},
            email = #{email}
        WHERE
            id = #{id}
    </update>

    <select id="getPassword" parameterType="Long" resultType="String">
        SELECT
            password
        FROM
            member
        WHERE
            id = #{id}
    </select>

    <update id="changePassword" parameterMap="ChangePasswordRequestDTO">
        UPDATE
            member
        SET
            password = #{newPassword}
        WHERE
        id = #{id}
    </update>

    <select id="findMyPartnerInfo" parameterType="Long" resultMap="Member">
        SELECT
            id,
            secretId,
            email,
            nickname,
            password,
            role,
            birth,
            gender
        FROM
            member
        WHERE
        id = #{memberId}

    </select>

    <select id="getMemberInfo" parameterType="Long" resultType="String">
        SELECT
            id,
            secretId,
            email,
            nickname,
            password,
            role,
            birth,
            gender
        FROM
            member
        WHERE
        id = #{memberId}
    </select>
</mapper>