<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jolipjo.lovebridge.domain.quiz.dao.QuizMapper">

    <resultMap id="quizListMap" type="com.jolipjo.lovebridge.domain.quiz.dto.QuizListResponseDTO">
        <id property="quizId" column="fk_quiz_id"/>
        <result property="quizNum" column="quiz_num"/>
        <result property="coupleId" column="fk_couple_id"/>
        <result property="quizTitle" column="title"/>
        <result property="quizComplete" column="quiz_complete"/>
    </resultMap>

    <resultMap id="quizDetailMap" type="java.lang.String">
        <result property="quizGetTitle" column="title"/>
    </resultMap>

    <parameterMap id="quizAddMap" type="com.jolipjo.lovebridge.domain.quiz.dto.QuizListResponseDTO">
        <parameter property="quizId"/>
        <parameter property="coupleId"/>
        <parameter property="quizTitle"/>
        <parameter property="quizComplete"/>
    </parameterMap>

    <resultMap id="quizDetailAnswerResponseDTO" type="com.jolipjo.lovebridge.domain.quiz.dto.QuizDetailAnswerResponseDTO">
        <result property="quizAnswer" column="quiz_answer"/>
        <result property="createdAt" column="createdAt" javaType="java.time.LocalDateTime"/>
        <result property="quizId" column="fk_quiz_id"/>
        <result property="quizNum" column="fk_quiz_num"/>
        <result property="title" column="title"/>
        <result property="memberId" column="fk_member_id"/>
    </resultMap>

    <parameterMap id="quizAnswerPKParameter" type="com.jolipjo.lovebridge.domain.quiz.dto.QuizAnswerPKParameter">
        <parameter property="quizId"/>
        <parameter property="coupleId"/>
        <parameter property="quizNum"/>
    </parameterMap>

    <select id="getQuizList" resultMap="quizListMap" parameterType="Long">
        SELECT
               a.fk_quiz_id
             , a.quiz_num
             , a.fk_couple_id
             , b.title
             , a.quiz_complete
        FROM
               QUIZ_LIST a
        LEFT JOIN
               QUIZ b on b.quiz_id = a.fk_quiz_id
        WHERE
                a.fk_couple_id = #{id}
        ORDER BY
                a.fk_quiz_id ASC;
    </select>

    <insert id="quizAdd" useGeneratedKeys="true" parameterMap="quizAddMap">
        INSERT INTO QUIZ_LIST (quiz_complete, fk_quiz_id, fk_couple_id)
        SELECT FALSE, quiz_id, #{coupleId}
        FROM QUIZ
        WHERE quiz_id NOT IN (
            SELECT fk_quiz_id
            FROM QUIZ_LIST
            WHERE fk_couple_id = #{coupleId}
        )
        LIMIT 5
    </insert>

    <select id="getQuizDetail" parameterMap="quizAnswerPKParameter" resultMap="quizDetailAnswerResponseDTO" >
        SELECT
            qa.quiz_answer AS quizAnswer,
            qa.createdAt AS createdAt,
            q.quiz_id AS quizId,
            ql.quiz_num AS quizNum,
            q.title AS title,
            qa.fk_member_id AS memberId
        FROM
            QUIZ_ANSWER qa
        LEFT JOIN
            QUIZ_LIST ql ON qa.fk_quiz_id = ql.fk_quiz_id AND qa.fk_couple_id = ql.fk_couple_id AND qa.fk_quiz_num = ql.quiz_num
        LEFT JOIN
            QUIZ q ON ql.fk_quiz_id = q.quiz_id
        WHERE
            qa.fk_quiz_id = #{quizId}
            AND qa.fk_couple_id = #{coupleId}
            AND qa.fk_quiz_num = #{quizNum}
<!--            AND qa.fk_member_id = #{member_id}-->

    </select>

    <select id="getOneQuiz" parameterType="Long" resultType="String">
        SELECT
            title
        FROM
            QUIZ
        WHERE
            quiz_id = #{quizId}
    </select>

    <insert id="registAnswer" parameterType="com.jolipjo.lovebridge.domain.quiz.entity.QuizAnswer" >
        INSERT INTO QUIZ_ANSWER
        (
            quiz_answer
            , createdAt
            , fk_quiz_id
            , fk_couple_id
            , fk_quiz_num
            , fk_member_id
        )
        VALUE
        (
            #{ quizAnswer }
            , #{ createdAt }
            , #{ quizId }
            , #{ coupleId }
            , #{ quizNum }
            , #{ memberId }
        )
    </insert>

    <update id="updateIsQuizComplete" parameterMap="quizAnswerPKParameter">
        UPDATE
            QUIZ_LIST
        SET
            quiz_complete = 1
        WHERE
            quiz_num = #{quizNum} AND fk_quiz_id = #{quizId} AND fk_couple_id = #{coupleId}
    </update>

</mapper>
